/*
 * -- WIDTH ADJUSTMENTS
 *
 */
 @media (min-width: 28em) {
    .footer {
        letter-spacing: 0.3em;
        font-size: 110%;
    }
}

/* -- 768px*H -- */
 @media (min-width: 48em) {
    body {
        font-size: 14px;
    }
    .splash {
        width: 90%;
    }
}
/* -- 960px*H -- */
 @media (min-width: 60em) {
    .splash-head {
        max-width: 800px;
    }
    .splash {
        width: 70%;
    }
}
/* -- 1248px*H -- */
@media (min-width: 78em) {
    .splash-head {
        max-width: 800px;
    }
    .splash {
        width: 60%;
    }
    .footer {
        letter-spacing: 0.4em;
    }
}
/* -- 1440px*H -- */
 @media (min-width: 90em) {
    .splash-head {
        font-size: 300%;
    }
    .splash {
        width: 50%;
    }
}
/* -- 2080px*H -- */
@media (min-width: 130em) {
    .splash {
        width: 40%;
    }
}


/*
 * -- HEIGHT ADJUSTMENTS
 *
 */
 
/* -- L*640px -- */
@media (min-height: 40em) {
    .splash {
        margin-top: 10em;
    }
    .splash-head {
        margin: 50px auto 30px auto;
        font-size: 260%;
    }
}
/* -- L*730px -- */
@media (min-height: 45em) {
    .splash {
        margin-top: 13em;
    }
    .splash-head {
        margin: 60px auto 50px auto;
        font-size: 270%;
    }
}
/* -- L*800px -- */
@media (min-height: 50em) {
    .splash {
        margin-top: 14em;
    }
    .splash-head {
        font-size: 300%;
    }
    input {
        height: 60px;
    }
}
/* -- L*960px -- */
@media (min-height: 60em) {
    .splash {
        margin-top: 15em;
    }
    .splash-head {
        font-size: 260%;
        margin: 100px auto 50px auto;
    }
    input {
        height: 70px;
    }
}
/* -- L*1072pxpx -- */
@media (min-height: 67em) {
    .splash {
        margin-top: 16em;
    }
    .splash-head {
        font-size: 270%;
        margin: 130px auto 70px auto;
    }
}
