/***************************************************
 ************   HEIGHT ADJUSTMENTS   ***************
 ***************************************************/


/* -- L*568px -- */

@media (min-height: 35em) {
    .select2-results__options {
        max-height: 370px!important;
    }
}


/* -- L*730px -- */

@media (min-height: 45em) {
    .select2-results__options {
        max-height: 570px!important;
        line-height: 1em;
    }
}


/* -- L*800px -- */

@media (min-height: 50em) {
    .select2-results__options {
        max-height: 700px!important;
    }
}


/* -- L*960px -- */

@media (min-height: 60em) {}


/* -- L*1072px -- */

@media screen and (min-height: 67em) {}


/***************************************************
 ************   WIDTH ADJUSTMENTS  ***************
 ***************************************************/

@media screen and (max-width: 48em) {
    /* -- L*568px -- */
    @media (min-height: 35em) {
        .results {
            margin: 1.5em auto;
        }
        .keypads {
            margin-top: 1em;
        }
        input {
            height: 40px;
        }
        .saved {
            font-size: 0.65em;
        }
    }
    /* -- L*730px -- */
    @media (min-height: 45em) {
        .results {
            margin: 1.5em auto;
        }
        .keypads {
            margin-top: 1.5em;
        }
        .saved {
            font-size: 0.7em;
        }
    }
    /* -- L*800px -- */
    @media (min-height: 50em) {
        input {
            font-size: 1.2;
        }
        .results {
            font-size: 1.7em;
            margin: 2em auto;
        }
        .keypads {
            margin-top: 2em;
        }
        .saved {
            font-size: 0.75em;
        }
    }
}


/* ≥ 768px */

@media screen and (min-width: 48em) {
    /* On big screen, fix map&weapon Selectors on top corners */
    .mapSelector {
        position: fixed;
        top: 0;
        right: 1em;
    }
    .weaponSelector {
        position: fixed;
        top: 0;
        left: 1em;
    }
    .mortar_selector {
        height: 35px;
        width: 75px;
    }
    .mortar_selector_classic {
        background: url("../img/icons/classic_mortar.png") no-repeat scroll 6px 3px transparent;
    }
    .mortar_selector_technical {
        background: url("../img/icons/technical_mortar.png") no-repeat scroll 6px 3px transparent;
    }
    .mortar_selector_french {
        background: url("../img/icons/french_mortar.png") no-repeat scroll 6px 3px transparent;
    }
    .footer {
        visibility: visible;
    }
    .select2-container {
        float: right;
        min-width: 150px;
        font-size: 0.8em;
        right: 0;
    }
    .switch-field {
        float: left;
    }
    .coord img {
        width: 45px;
        height: 45px;
    }
    /* -- L*560px -- */
    @media (min-height: 35em) {
        .content {
            font-size: 25px;
            padding-top: 3em;
        }
        input {
            height: 60px;
        }
    }
    /* -- L*730px -- */
    @media (min-height: 45em) {
        .content {
            padding-top: 3em;
        }
        input {
            height: 70px;
        }
    }
    /* -- L*800px -- */
    @media (min-height: 50em) {
        .content {
            font-size: 35px;
        }
    }
}


/* ≥ 992px */

@media screen and (min-width: 62em) {
    .select2-container {
        min-width: 196px;
        font-size: 1em;
    }
}


/* ≥ 1200px */

@media screen and (min-width: 62em) {
    .select2-container {
        max-width: 230px;
    }
}


/* ≥ 1400px */

@media screen and (min-width: 87.5em) {
    .select2-container {
        min-width: 220px;
        max-width: 270px;
        font-size: 1.2em;
    }
    .select2-results__options {
        font-size: 1em;
    }
}


/* ≥ 1980px */

@media screen and (min-width: 124em) {
    .select2-container {
        min-width: 400px;
        font-size: 1.5em;
    }
    .select2-results__options {
        font-size: 1.2em;
        max-height: 1000px!important;
        line-height: 1.1em;
    }
    .select2-selection__placeholder {
        font-size: 1.1em;
    }
    .select2-selection__rendered {
        font-size: 1.2em;
    }
    input {
        font-size: 1.7em;
    }
    .results {
        font-size: 3em;
        margin: 2em auto;
    }
    .keypads {
        margin-top: 2em;
    }
    .saved {
        font-size: 1em;
    }
}