/*
 * -- WIDTH ADJUSTMENTS
 *
 */
 
/* ≥ 768px */
@media screen and (min-width: 48em){

    /* On big screen, fix map&weapon Selectors on top corners */
    .mapSelector {position: fixed; top: 0; right:1em;}
    .weaponSelector {position: fixed; top: 0; left:1em;}

    .footer {
       visibility: visible;
    }

    .select2-container{
        float: right;
        min-width:150px;
        font-size: 0.8em;
        right: 0;
    }

    .switch-field {
        float: left;
    }

    /* -- L*560px -- */
    @media (min-height: 35em) {
        .content {
            font-size: 25px;
            padding-top: 3em;
        }
        input { 
            height: 60px;
        }
    }

    /* -- L*730px -- */
    @media (min-height: 45em) {
        .content {
            padding-top: 5em;
        }
        input { 
            height: 70px;
        }

    }
    /* -- L*800px -- */
    @media (min-height: 50em) {
        .content {
            font-size: 35px;
        }
    }

  }

  /* ≥ 992px */
@media screen and (min-width: 62em){
    .select2-container{
        min-width:196px;
        font-size: 1em;   
    }
}

/* ≥ 1200px */
@media screen and (min-width: 62em){

    .select2-container{
        max-width:230px;
    }
    
    #toast {
        bottom: 100px;
        width: 400px;
        margin-left: -200px;
        left: 50%;
    }
    
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 100px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
  }
  
    
}

/* ≥ 1400px */
@media screen and (min-width: 87.5em){

    .select2-container{
        min-width:220px;
        max-width:270px;
        font-size: 1.2em;
    }

    .select2-results__options {
        font-size: 1em;
    }
}

/*
 * -- HEIGHT ADJUSTMENTS
 *
 */
 
/* -- L*568px -- */
@media (min-height: 35em) {
    .select2-results__options {max-height: 370px!important;}
}

/* -- L*730px -- */
@media (min-height: 45em) {
    .select2-results__options {
        max-height: 570px!important;
        line-height: 1em;
    }
}
/* -- L*800px -- */
@media (min-height: 50em) {
    .select2-results__options {max-height: 700px!important;}
}

/* -- L*960px -- */
@media (min-height: 60em) {
    .select2-results__options {max-height: 700px!important;}
}
/* -- L*1072px -- */
@media (min-height: 67em) {

}
