
.pure-g [class *= "pure-u"] {
  text-align: center;
}


/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
  line-height: 1.7em;
  color: white;
  background: #111;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        font-family: 'Montserrat', Times, "Times New Roman", serif;
        letter-spacing: 0.1em;
    }

input { 
  border: 0;
  border-bottom: 3px solid white;
  font-size: 1em;
  line-height: 2.188em;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
}

input:focus{
  outline: none;
}


/***************************************
 ************   HEADER   ***************
 **************************************/


 /****************
 *     Logo
 *****************/

img {
  display:block;
  margin:auto;
}


 /****************
 * Weapon Selector
 *****************/

 .weaponSelector{
  padding: 1em 0em 0.5em 0em;
}

 .mortar_selector {
  display: inline-block;
  height: 35px;
  width: 75px;
}

.mortar_selector_classic {
  background: url("../img/icons/classic_mortar.png") no-repeat scroll 23px 5px transparent;
}

.mortar_selector_technical {
  background: url("../img/icons/technical_mortar3.png") no-repeat scroll 8px 2px transparent;
}

.switch-field {
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  z-index: 5;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #464444;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #ffffff;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 3px 0 0 3px;
}

.switch-field label:last-of-type {
  border-radius: 0 3px 3px 0;
}



 /****************
 *  Map Selector
 *****************/

.mapSelector{
  padding: 1em 0em 0.5em 0em;
}

.selectbox {
  padding: 0;
}

.dropbtn {
  color: #ffffff;
  line-height: 2.188em;
  font-weight: bold;
  text-transform: uppercase;
  background: #111!important;
}

.dropbtn select {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select2-search {
  background:white!important;
  font-size: 1em!important;
  color: rgb(161, 142, 142)!important;
}


.select2-selection{
  background: #111!important;
  border:none!important;
  font-size: 1em;
  color:white!important;
}

.dropbtn:focus{
  outline: none;
}


.select2-container{
  min-width:200px;
  color: #ffffff!important;
  font-size: 1em;
  line-height: 2.188em;
  font-weight: bold;
  padding-bottom: 0.3em;
  border: 0;
  border-bottom: 1px solid white!important;
  text-transform: uppercase;
  background-color: #111;
  background: #111;
  box-shadow: none!important;
}


.select2-results__options {
  max-height: 350px!important;
  line-height: 1.4em;
}

.select2-search__field {
  color: #111!important;
  font-size: 1em!important;
  height: 1.4em;
  text-transform: none!important;
}

.select2-selection__rendered {
  color: #ffffff!important;
}

.select2-results__message{
  padding-top: 20px!important;
}

/* Avoid the creation of an outline when pressing enter to select a map */
span.select2-selection.select2-selection--single {
  outline: none;
}

.show {display: block;}


/***************************************
 ************   CONTENT   ***************
 **************************************/


.results {
  font-size: 1.5em;
  color: white;
  border: 5px solid white;
  padding: 1em;
  margin: 1.5em auto;
  border-radius: 5px;
  font-weight: bold;
}


.coord {
  padding: 0.625em 0em;
}

#heatmap{
  padding: 0;
  display: none;
}

#canvas {
  margin: auto auto;
  width: 250px;
  height: 250px;
}


/***************************************
 ************   FOOTER   ***************
 **************************************/

/****************
 *  Footer
 *****************/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.7em;
  height: 3.5em;
  visibility: hidden;
}

/****************
 *  Social Buttons
 *****************/

.social {
  position: absolute;
}

.social a {
  color: #333;
}

#social-yt:hover {
  color: red;
}

#social-gh:hover {
  color: black;
}

.youtube {
  text-align: left;
  left: 0.8em;
}

.github {
  text-align: right;
  right: 0.8em;
}

/***************************************
 ************   MISC   ***************
 **************************************/


/* Fix to avoid https://purecss.io/grids/#applying-padding-and-borders-to-grid-units */
.pure-g > div {
  box-sizing: border-box;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/****************
 *  Error Toast
 *****************/

 .error {
  border: 5px solid FireBrick;
  color: FireBrick;
}

.error2 {
  color: FireBrick;
}

#toast {
  letter-spacing: 0.1em;
  visibility: hidden;
  min-width: 250px;
  width: 400px;
  margin-left: -200px;
  background-color:brown;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 1s 4.5s;
  animation: fadein 0.5s, fadeout 1s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

