<template id="ally_deployables_html">
    <div class="contextmenuVert">
        <button class="ctxButton hab">
            <span class="hab" data-team="ally" data-category="deployables" data-icon="deployable_hab_activated"></span>
        </button>
        <button class="ctxButton ammoBox">
            <span class="ammoBox" data-team="ally" data-category="deployables" data-icon="deployable_ammocrate"></span>
        </button>
        <button class="ctxButton repairStation">
            <span class="repairStation" data-team="ally" data-category="deployables" data-icon="deployable_repairstation"></span>
        </button>
        <button class="ctxButton allyhelipad">
            <span class="allyhelipad" data-team="ally" data-category="deployables" data-icon="deployable_helipad"></span>
        </button>
        <button class="ctxButton rally">
            <span class="rally" data-team="ally" data-category="deployables" data-icon="rallypoint"></span>
        </button>
        <button class="ctxButton tow">
            <span class="tow" data-team="ally" data-category="deployables" data-icon="deployable_anti_tank"></span>
        </button>
        <button class="ctxButton hmg">
            <span class="hmg" data-team="ally" data-category="deployables" data-icon="deployable_HMG"></span>
        </button>
        <button class="ctxButton airgun">
            <span class="airgun" data-team="ally" data-category="deployables" data-icon="deployable_AntiAirGun"></span>
        </button>
        <button class="ctxButton antiTankGun">
            <span class="antiTankGun" data-team="ally" data-category="deployables" data-icon="deployable_anti_tank_gun"></span>
        </button>
        <button class="ctxButton gmg">
            <span class="gmg" data-team="ally" data-category="deployables" data-icon="deployable_GMG"></span>
        </button>
        <button class="ctxButton mortars">
            <span class="mortars" data-team="ally" data-category="deployables" data-icon="deployable_mortars"></span>
        </button>
        <button class="ctxButton hellcannon">
            <span class="hellcannon" data-team="ally" data-category="deployables" data-icon="deployable_hellcannon"></span>
        </button>
        <button class="ctxButton ub32rockets">
            <span class="ub32rockets" data-team="ally" data-category="deployables" data-icon="deployable_ub32rockets"></span>
        </button>
        <button class="ctxButton mine">
            <span class="mine" data-team="ally" data-category="deployables" data-icon="map_mine"></span>
        </button>
    </div>
</template>

<template id="ally_vehicles_html">
    <div class="contextmenuVert">
        <button class="ctxButton mapMotorcycle">
            <span class="mapMotorcycle" data-team="ally" data-category="vehicles" data-icon="map_motorcycle"></span>
        </button>
        <button class="ctxButton mapBoatLogistics">
            <span class="mapBoatLogistics" data-team="ally" data-category="vehicles" data-icon="T_map_boat_logistics"></span>
        </button>
        <button class="ctxButton mapBoatOpenturret">
            <span class="mapBoatOpenturret" data-team="ally" data-category="vehicles" data-icon="T_map_boat_openturret"></span>
        </button>
        <!--
        <button class="ctxButton mapBoat">
            <span class="mapBoat">
        </button>
        -->
        <button class="ctxButton mapJeepTransport">
            <span class="mapJeepTransport" data-team="ally" data-category="vehicles" data-icon="map_jeep_transport"></span>
        </button>
        <button class="ctxButton mapJeep">
            <span class="mapJeep" data-team="ally" data-category="vehicles" data-icon="map_jeep"></span>
        </button>
        <button class="ctxButton mapJeepLogistics">
            <span class="mapJeepLogistics" data-team="ally" data-category="vehicles" data-icon="map_jeep_logistics"></span>
        </button>
        <button class="ctxButton mapJeepAntitank">
            <span class="mapJeepAntitank" data-team="ally" data-category="vehicles" data-icon="map_jeep_antitank"></span>
        </button>
        <button class="ctxButton mapJeepArtillery">
            <span class="mapJeepArtillery" data-team="ally" data-category="vehicles" data-icon="map_jeep_artillery"></span>
        </button>
        <!--
        <button class="ctxButton mapJeepTurret">
            <span class="mapJeepTurret"></span>
        </button>
        -->
        <!--
        <button class="ctxButton mapJeepAntiair">
            <span class="mapJeepAntiair"></span>
        </button>
        -->
        <button class="ctxButton mapTruckTransport">
            <span class="mapTruckTransport" data-team="ally" data-category="vehicles" data-icon="map_truck_transport"></span>
        </button>
        <button class="ctxButton mapTruckTransportArmed">
            <span class="mapTruckTransportArmed" data-team="ally" data-category="vehicles" data-icon="map_truck_transport_armed"></span>
        </button>
        <button class="ctxButton mapTruckLogistics">
            <span class="mapTruckLogistics" data-team="ally" data-category="vehicles" data-icon="map_truck_logistics"></span>
        </button>
        <button class="ctxButton mapTruckAntiair">
            <span class="mapTruckAntiair" data-team="ally" data-category="vehicles" data-icon="map_truck_antiair"></span>
        </button>

        <!--
        <button class="ctxButton mapAPCOpenTurret">
            <span class="mapAPCOpenTurret">
        </button>
        -->

        <button class="ctxButton mapAPC">
            <span class="mapAPC" data-team="ally" data-category="vehicles" data-icon="map_apc"></span>
        </button>
        <button class="ctxButton mapIFV">
            <span class="mapIFV" data-team="ally" data-category="vehicles" data-icon="map_ifv"></span>
        </button>
        <!--
        <button class="ctxButton mapTrackedjeep">
            <span class="mapTrackedjeep"></span>
        </button>
        -->
        <button class="ctxButton mapAntiair">
            <span class="mapAntiair" data-team="ally" data-category="vehicles" data-icon="map_antiair"></span>
        </button>
        <button class="ctxButton mapTrackedapc">
            <span class="mapTrackedapc" data-team="ally" data-category="vehicles" data-icon="map_trackedapc"></span>
        </button>
        <button class="ctxButton mapTrackedifv">
            <span class="mapTrackedifv" data-team="ally" data-category="vehicles" data-icon="map_trackedifv"></span>
        </button>
        <button class="ctxButton trackedheavyIFV">
            <span class="trackedheavyIFV" data-team="ally" data-category="vehicles" data-icon="map_trackedheavyifv"></span>
        </button>
        <button class="ctxButton mapTank">
            <span class="mapTank" data-team="ally" data-category="vehicles" data-icon="map_tank"></span>
        </button>

        <button class="ctxButton mapHandhelddrone">
            <span class="mapHandhelddrone" data-team="ally" data-category="vehicles" data-icon="map_handhelddrone"></span>
        </button>
        <button class="ctxButton mapTransporthelo">
            <span class="mapTransporthelo" data-team="ally" data-category="vehicles" data-icon="map_transporthelo"></span>
        </button>
        <button class="ctxButton mapHelicopterLightcas">
            <span class="mapHelicopterLightcas" data-team="ally" data-category="vehicles" data-icon="T_map_helicopter_lightcas"></span>
        </button>
        <!--
        <button class="ctxButton mapHelicopterScout">
            <span class="mapHelicopterScout"></span>
        </button>
        -->
        <button class="ctxButton mapAttackhelo">
            <span class="mapAttackhelo" data-team="ally" data-category="vehicles" data-icon="map_attackhelo"></span>
        </button>
        
        <button class="ctxButton mapJetA10">
            <span class="mapJetA10" data-team="ally" data-category="vehicles" data-icon="map_jet_a10"></span>
        </button>
        <!--
        <button class="ctxButton mapJetSu25">
            <span class="mapJetSu25"></span>
        </button>
        <button class="ctxButton mapJetTornado">
            <span class="mapJetTornado"></span>
        </button>
        -->
        <button class="ctxButton mapUAV">
            <span class="mapUAV" data-team="ally" data-category="vehicles" data-icon="T_strategic_uav"></span>
        </button>
    </div>
</template>

<template id="ally_infantry_html">
    <div class="contextmenuVert">
        <button class="ctxButton mapInfMG">
            <span class="mapInfMG" data-team="ally" data-category="infantry" data-icon="map_infmg"></span>
        </button>
        <button class="ctxButton mapLAT">
            <span class="mapLAT" data-team="ally" data-category="infantry" data-icon="map_lat"></span>
        </button>
        <button class="ctxButton mapHAT">
            <span class="mapHAT" data-team="ally" data-category="infantry" data-icon="map_hat"></span>
        </button>
        <button class="ctxButton mapInfAntiAir">
            <span class="mapInfAntiAir" data-team="ally" data-category="infantry" data-icon="map_infantiair"></span>
        </button>
        <button class="ctxButton mapMarksmanSniper">
            <span class="mapMarksmanSniper" data-team="ally" data-category="infantry" data-icon="map_marksmansniper"></span>
        </button>
    </div>
</template>

<template id="enemy_deployables_html">
    <div class="contextmenuVert">
        <button class="ctxButton enemyhab">
            <span class="enemyhab" data-team="enemy" data-category="deployables" data-icon="deployable_hab"></span>
        </button>
        <button class="ctxButton enemyammoBox">
            <span class="enemyammoBox" data-team="enemy" data-category="deployables" data-icon="deployable_ammocrate"></span>
        </button>
        <button class="ctxButton enemyrepairStation">
            <span class="enemyrepairStation" data-team="enemy" data-category="deployables" data-icon="deployable_repairstation"></span>
        </button>
        <button class="ctxButton enemyhelipad">
            <span class="enemyhelipad" data-team="enemy" data-category="deployables" data-icon="deployable_helipad"></span>
        </button>
        <button class="ctxButton enemyrally">
            <span class="enemyrally" data-team="enemy" data-category="deployables" data-icon="rallypoint"></span>
        </button>
        <button class="ctxButton enemytow">
            <span class="enemytow" data-team="enemy" data-category="deployables" data-icon="deployable_anti_tank"></span>
        </button>
        <button class="ctxButton enemyHMG">
            <span class="enemyHMG" data-team="enemy" data-category="deployables" data-icon="deployable_HMG"></span>
        </button>
        <button class="ctxButton enemyantiAirGun">
            <span class="enemyantiAirGun" data-team="enemy" data-category="deployables" data-icon="deployable_AntiAirGun"></span>
        </button>
        <button class="ctxButton enemyGMG">
            <span class="enemyGMG" data-team="enemy" data-category="deployables" data-icon="deployable_GMG"></span>
        </button>
        <button class="ctxButton enemyantiTankGun">
            <span class="enemyantiTankGun" data-team="enemy" data-category="deployables" data-icon="deployable_anti_tank_gun"></span>
        </button>
        <button class="ctxButton enemymortars">
            <span class="enemymortars" data-team="enemy" data-category="deployables" data-icon="deployable_mortars"></span>
        </button>
        <button class="ctxButton enemyhellcannon">
            <span class="enemyhellcannon" data-team="enemy" data-category="deployables" data-icon="deployable_hellcannon"></span>
        </button>
        <button class="ctxButton enemyub32rockets">
            <span class="enemyub32rockets" data-team="enemy" data-category="deployables" data-icon="deployable_ub32rockets"></span>
        </button>
        <button class="ctxButton enemymine">
            <span class="enemymine" data-team="enemy" data-category="deployables" data-icon="map_mine"></span>
        </button>
    </div>
</template>

<template id="enemy_vehicles_html">
    <div class="contextmenuVert">
        <button class="ctxButton enemymapMotorcycle">
            <span class="enemymapMotorcycle" data-team="enemy" data-category="vehicles" data-icon="map_motorcycle"></span>
        </button>
        <button class="ctxButton enemymapBoatLogistics">
            <span class="enemymapBoatLogistics" data-team="enemy" data-category="vehicles" data-icon="T_map_boat_logistics"></span>
        </button>
        <button class="ctxButton enemymapBoatOpenturret">
            <span class="enemymapBoatOpenturret" data-team="enemy" data-category="vehicles" data-icon="T_map_boat_openturret"></span>
        </button>
        <!--
        <button class="ctxButton enemymapBoat">
            <span class="enemymapBoat"></span>
        </button>
        -->
        <button class="ctxButton enemymapJeepTransport">
            <span class="enemymapJeepTransport" data-team="enemy" data-category="vehicles" data-icon="map_jeep_transport"></span>
        </button>
        <button class="ctxButton enemymapJeep">
            <span class="enemymapJeep" data-team="enemy" data-category="vehicles" data-icon="map_jeep"></span>
        </button>
        <button class="ctxButton enemymapJeepLogistics">
            <span class="enemymapJeepLogistics" data-team="enemy" data-category="vehicles" data-icon="map_jeep_logistics"></span>
        </button>
        <button class="ctxButton enemymapJeepAntitank">
            <span class="enemymapJeepAntitank" data-team="enemy" data-category="vehicles" data-icon="map_jeep_antitank"></span>
        </button>
        <button class="ctxButton enemymapJeepArtillery">
            <span class="enemymapJeepArtillery" data-team="enemy" data-category="vehicles" data-icon="map_jeep_artillery"></span>
        </button>
        <!--
        <button class="ctxButton enemymapJeepTurret">
            <span class="enemymapJeepTurret"></span>
        </button>
        -->
        <!--
        <button class="ctxButton enemymapJeepAntiair">
            <span class="enemymapJeepAntiair"></span>
        </button>
        -->
        <button class="ctxButton enemymapTruckTransport">
            <span class="enemymapTruckTransport" data-team="enemy" data-category="vehicles" data-icon="map_truck_transport"></span>
        </button>
        <button class="ctxButton enemymapTruckTransportArmed">
            <span class="enemymapTruckTransportArmed" data-team="enemy" data-category="vehicles" data-icon="map_truck_transport_armed"></span>
        </button>
        <button class="ctxButton enemymapTruckLogistics">
            <span class="enemymapTruckLogistics" data-team="enemy" data-category="vehicles" data-icon="map_truck_logistics"></span>
        </button>
        <button class="ctxButton enemymapTruckAntiair">
            <span class="enemymapTruckAntiair" data-team="enemy" data-category="vehicles" data-icon="map_truck_antiair"></span>
        </button>
        <!--
        <button class="ctxButton enemymapAPCOpenTurret">
            <span class="enemymapAPCOpenTurret"></span>
        </button>
        -->
        <button class="ctxButton enemymapAPC">
            <span class="enemymapAPC" data-team="enemy" data-category="vehicles" data-icon="map_apc"></span>
        </button>
        <button class="ctxButton enemymapIFV">
            <span class="enemymapIFV" data-team="enemy" data-category="vehicles" data-icon="map_ifv"></span>
        </button>
        <!--
        <button class="ctxButton enemymapTrackedjeep">
            <span class="enemymapTrackedjeep"></span>
        </button>
        -->
        <button class="ctxButton enemymapAntiair">
            <span class="enemymapAntiair" data-team="enemy" data-category="vehicles" data-icon="map_antiair"></span>
        </button>
        <button class="ctxButton enemymapTrackedapc">
            <span class="enemymapTrackedapc" data-team="enemy" data-category="vehicles" data-icon="map_trackedapc"></span>
        </button>
        <button class="ctxButton enemymapTrackedifv">
            <span class="enemymapTrackedifv" data-team="enemy" data-category="vehicles" data-icon="map_trackedifv"></span>
        </button>
        <button class="ctxButton enemytrackedheavyIFV">
            <span class="enemytrackedheavyIFV" data-team="enemy" data-category="vehicles" data-icon="map_trackedheavyifv"></span>
        </button>
        <button class="ctxButton enemymapTank">
            <span class="enemymapTank" data-team="enemy" data-category="vehicles" data-icon="map_tank"></span>
        </button>
        <button class="ctxButton enemymapHandhelddrone">
            <span class="enemymapHandhelddrone" data-team="enemy" data-category="vehicles" data-icon="map_handhelddrone"></span>
        </button>
        <button class="ctxButton enemymapTransporthelo">
            <span class="enemymapTransporthelo" data-team="enemy" data-category="vehicles" data-icon="map_transporthelo"></span>
        </button>
        <button class="ctxButton enemymapHelicopterLightcas">
            <span class="enemymapHelicopterLightcas" data-team="enemy" data-category="vehicles" data-icon="T_map_helicopter_lightcas"></span>
        </button>
        <!--
        <button class="ctxButton enemymapHelicopterScout">
            <span class="enemymapHelicopterScout"></span>
        </button>
        -->
        <button class="ctxButton enemymapAttackhelo">
            <span class="enemymapAttackhelo" data-team="enemy" data-category="vehicles" data-icon="map_attackhelo"></span>
        </button>
        <button class="ctxButton enemymapJetA10">
            <span class="enemymapJetA10" data-team="enemy" data-category="vehicles" data-icon="map_jet_a10"></span>
        </button>
        <!--
        <button class="ctxButton enemymapJetSu25">
            <span class="enemymapJetSu25"></span>
        </button>
        <button class="ctxButton enemymapJetTornado">
            <span class="enemymapJetTornado"></span>
        </button>
        -->
        <button class="ctxButton enemymapUAV">
            <span class="enemymapUAV" data-team="enemy" data-category="vehicles" data-icon="T_strategic_uav"></span>
        </button>
    </div>
</template>

<template id="enemy_infantry_html">
    <div class="contextmenuVert">
        <button class="ctxButton enemyMapHAT">
            <span class="enemyMapHAT" data-team="enemy" data-category="infantry" data-icon="map_hat"></span>
        </button>
        <button class="ctxButton enemyMapInfAntiAir">
            <span class="enemyMapInfAntiAir" data-team="enemy" data-category="infantry" data-icon="map_infantiair"></span>
        </button>
        <button class="ctxButton enemyMapInfMG">
            <span class="enemyMapInfMG" data-team="enemy" data-category="infantry" data-icon="map_infmg"></span>
        </button>
        <button class="ctxButton enemyMapLAT">
            <span class="enemyMapLAT" data-team="enemy" data-category="infantry" data-icon="map_lat"></span>
        </button>
        <button class="ctxButton enemyMapMarksmanSniper">
            <span class="enemyMapMarksmanSniper" data-team="enemy" data-category="infantry" data-icon="map_marksmansniper"></span>
        </button>
    </div>
</template>