@use "../shared/variables";


.contextmenu {
    display: flex;
    padding: 0;
    .ctxButton, .shapeButton {
        margin: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        align-items: center;
        display: flex;
        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    .middleContextButton {
        background-color: transparent;
        align-content: center;
        &:hover {
            background-color: transparent;
        }
        &:active {
            transform: scale(0.9);
        }
    }
    span {
        width: 25px;
        height: 25px;   
    }
    .contextmenuVert {
        width: 140px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.6);
        margin: 0;
        padding: 0;
        overflow: hidden;
        backdrop-filter: blur(2px);
        .ctxButton, .shapeButton {
            margin: 0;
            padding: 2px 0.5px;
            background-color: transparent;
            transition: background-color 0.2s;
            span {
                margin: 0;
                padding: 0;
                height: 27px;
                width: 27px;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.7);
                transform: scale(1.2);
                z-index: 1;
            }
        }
    }
}


// COMMON

.middleContext {
    background: url('./icons/shared/ctx/T_icon_Target.webp') no-repeat center center;
    background-size: contain;
}

.arrow, .rectangle, .circle {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    &.arrow { background-image: url('./icons/shared/ctx/arrow.webp'); }
    &.rectangle { background-image: url('./icons/shared/ctx/rectangle.webp'); }
    &.circle { background-image: url('./icons/shared/ctx/circle.webp'); }
    &.blue {
        background-color: #00137e;
        &:hover { background-color: #000844; }
    }
    &.red {
        background-color: #bb2623;
        &:hover { background-color: #6b1716; }
    }
    &.green {
        background-color: #007f00;
        &:hover { background-color: #005200; }
    }
    &.black {
        background-color: #141414;
        &:hover { background-color: #000; }
    }
}


// ALLY INFANTRY

.friendlyInf {
    background: url('../../../public/icons/ally/infantry/map_genericinfantry.webp') no-repeat center center;
    background-size: contain;
}

.mapHAT {
    background: url('../../../public/icons/ally/infantry/map_hat.webp') no-repeat center center;
    background-size: contain;
}

.mapInfAntiAir {
    background: url('../../../public/icons/ally/infantry/map_infantiair.webp') no-repeat center center;
    background-size: contain;
}

.mapInfMG {
    background: url('../../../public/icons/ally/infantry/map_infmg.webp') no-repeat center center;
    background-size: contain;
}

.mapLAT {
    background: url('../../../public/icons/ally/infantry/map_lat.webp') no-repeat center center;
    background-size: contain;
}

.mapMarksmanSniper {
    background: url('../../../public/icons/ally/infantry/map_marksmansniper.webp') no-repeat center center;
    background-size: contain;
}

// ALLY DEPLOYABLES

.fob {
    background: url('../../../public/icons/ally/deployables/deployable_fob.webp') no-repeat center center;
    background-size: contain;
}

.hab {
    background: url('../../../public/icons/ally/deployables/deployable_hab.webp') no-repeat center center;
    background-size: contain;
}

.rally {
    background: url('../../../public/icons/ally/deployables/rallypoint.webp') no-repeat center center;
    background-size: contain;
}

.repairStation {
    background: url('../../../public/icons/ally/deployables/deployable_repairstation.webp') no-repeat center center;
    background-size: contain;
}

.ammoBox {
    background: url('../../../public/icons/ally/deployables/deployable_ammocrate.webp') no-repeat center center;
    background-size: contain;
}

.allyhelipad {
    background: url('../../../public/icons/ally/deployables/deployable_helipad.webp') no-repeat center center;
    background-size: contain;
}



.airgun {
    background: url('../../../public/icons/ally/deployables/deployable_AntiAirGun.webp') no-repeat center center;
    background-size: contain;
}

.antiTankGun {
    background: url('../../../public/icons/ally/deployables/deployable_anti_tank_gun.webp') no-repeat center center;
    background-size: contain;
}

.tow {
    background: url('../../../public/icons/ally/deployables/deployable_anti_tank.webp') no-repeat center center;
    background-size: contain;
}

.gmg {
    background: url('../../../public/icons/ally/deployables/deployable_GMG.webp') no-repeat center center;
    background-size: contain;
}

.hellcannon {
    background: url('../../../public/icons/ally/deployables/deployable_hellcannon.webp') no-repeat center center;
    background-size: contain;
}

.hmg {
    background: url('../../../public/icons/ally/deployables/deployable_HMG.webp') no-repeat center center;
    background-size: contain;
}

.mortars {
    background: url('../../../public/icons/ally/deployables/deployable_mortars.webp') no-repeat center center;
    background-size: contain;
}

.ub32rockets {
    background: url('../../../public/icons/ally/deployables/deployable_ub32rockets.webp') no-repeat center center;
    background-size: contain;
}

.mine {
    background: url('../../../public/icons/ally/deployables/map_mine.webp') no-repeat center center;
    background-size: contain;
}

// ALLY VEHICLES

.friendly {
    background: url('../../../public/icons/ally/vehicles/map_truck_logistics.webp') no-repeat center center;
    background-size: contain;
}

.mapMotorcycle {
    background: url('../../../public/icons/ally/vehicles/map_motorcycle.webp') no-repeat center center;
    background-size: contain;
}

.mapBoatLogistics {
    background: url('../../../public/icons/ally/vehicles/T_map_boat_logistics.webp') no-repeat center center;
    background-size: contain;
}

.mapBoatOpenturret {
    background: url('../../../public/icons/ally/vehicles/T_map_boat_openturret.webp') no-repeat center center;
    background-size: contain;
}

.mapJeepTransport {
    background: url('../../../public/icons/ally/vehicles/map_jeep_transport.webp') no-repeat center center;
    background-size: contain;
}

.mapJeep {
    background: url('../../../public/icons/ally/vehicles/map_jeep.webp') no-repeat center center;
    background-size: contain;
}

.mapJeepLogistics {
    background: url('../../../public/icons/ally/vehicles/map_jeep_logistics.webp') no-repeat center center;
    background-size: contain;
}

.mapJeepAntitank {
    background: url('../../../public/icons/ally/vehicles/map_jeep_antitank.webp') no-repeat center center;
    background-size: contain;
}

.mapJeepArtillery {
    background: url('../../../public/icons/ally/vehicles/map_jeep_artillery.webp') no-repeat center center;
    background-size: contain;
}

.mapTruckTransport {
    background: url('../../../public/icons/ally/vehicles/map_truck_transport.webp') no-repeat center center;
    background-size: contain;
}

.mapTruckTransportArmed {
    background: url('../../../public/icons/ally/vehicles/map_truck_transport_armed.webp') no-repeat center center;
    background-size: contain;
}

.mapTruckLogistics, .vehicles {
    background: url('../../../public/icons/ally/vehicles/map_truck_logistics.webp') no-repeat center center;
    background-size: contain;
}

.mapTruckAntiair {
    background: url('../../../public/icons/ally/vehicles/map_truck_antiair.webp') no-repeat center center;
    background-size: contain;
}

.mapAPC {
    background: url('../../../public/icons/ally/vehicles/map_apc.webp') no-repeat center center;
    background-size: contain;
}

.mapIFV {
    background: url('../../../public/icons/ally/vehicles/map_ifv.webp') no-repeat center center;
    background-size: contain;
}

.mapAntiair {
    background: url('../../../public/icons/ally/vehicles/map_antiair.webp') no-repeat center center;
    background-size: contain;
}

.mapTrackedapcArtillery {
    background: url('../../../public/icons/ally/vehicles/T_map_trackedapc_artillery.webp') no-repeat center center;
    background-size: contain;
}

.mapTrackedapcLogistics {
    background: url('../../../public/icons/ally/vehicles/T_map_trackedapc_logistics.webp') no-repeat center center;
    background-size: contain;
}

.mapTrackedapcMSV {
    background: url('../../../public/icons/ally/vehicles/T_map_trackedapc_msv.webp') no-repeat center center;
    background-size: contain;
}

.mapTrackedapc {
    background: url('../../../public/icons/ally/vehicles/map_trackedapc.webp') no-repeat center center;
    background-size: contain;
}

.mapTrackedifv {
    background: url('../../../public/icons/ally/vehicles/map_trackedifv.webp') no-repeat center center;
    background-size: contain;
}

.trackedheavyIFV {
    background: url('../../../public/icons/ally/vehicles/map_trackedheavyifv.webp') no-repeat center center;
    background-size: contain;
}

.mapTank {
    background: url('../../../public/icons/ally/vehicles/map_tank.webp') no-repeat center center;
    background-size: contain;
}

.mapHandhelddrone {
    background: url('../../../public/icons/ally/vehicles/map_handhelddrone.webp') no-repeat center center;
    background-size: contain;
}

.mapTransporthelo {
    background: url('../../../public/icons/ally/vehicles/map_transporthelo.webp') no-repeat center center;
    background-size: contain;
}

.mapHelicopterLightcas {
    background: url('../../../public/icons/ally/vehicles/T_map_helicopter_lightcas.webp') no-repeat center center;
    background-size: contain;
}

.mapAttackhelo {
    background: url('../../../public/icons/ally/vehicles/map_attackhelo.webp') no-repeat center center;
    background-size: contain;
}

.mapJetA10 {
    background: url('../../../public/icons/ally/vehicles/map_jet_a10.webp') no-repeat center center;
    background-size: contain;
}

.mapUAV {
    background: url('../../../public/icons/ally/vehicles/T_strategic_uav.webp') no-repeat center center;
    background-size: contain;
}


// ENEMY INFANTRY   

.enemyMapGenericInfantry, .enemy {
    background: url('../../../public/icons/enemy/infantry/map_genericinfantry.webp') no-repeat center center;
    background-size: contain;
}

.enemyMapHAT {
    background: url('../../../public/icons/enemy/infantry/map_hat.webp') no-repeat center center;
    background-size: contain;
}

.enemyMapInfAntiAir {
    background: url('../../../public/icons/enemy/infantry/map_infantiair.webp') no-repeat center center;
    background-size: contain;
}

.enemyMapInfMG {
    background: url('../../../public/icons/enemy/infantry/map_infmg.webp') no-repeat center center;
    background-size: contain;
}

.enemyMapLAT {
    background: url('../../../public/icons/enemy/infantry/map_lat.webp') no-repeat center center;
    background-size: contain;
}

.enemyMapMarksmanSniper {
    background: url('../../../public/icons/enemy/infantry/map_marksmansniper.webp') no-repeat center center;
    background-size: contain;
}

// ENEMY DEPLOYABLES

.enemyrepairStation {
    background: url('../../../public/icons/enemy/deployables/deployable_repairstation.webp') no-repeat center center;
    background-size: contain;
}

.enemyhab {
    background: url('../../../public/icons/enemy/deployables/deployable_hab.webp') no-repeat center center;
    background-size: contain;
}

.enemyrally {
    background: url('../../../public/icons/enemy/deployables/rallypoint.webp') no-repeat center center;
    background-size: contain;
}

.enemyammoBox {
    background: url('../../../public/icons/enemy/deployables/deployable_ammocrate.webp') no-repeat center center;
    background-size: contain;
}

.enemyfob {
    background: url('../../../public/icons/enemy/deployables/deployable_fob.webp') no-repeat center center;
    background-size: contain;
}

.enemymine {
    background: url('../../../public/icons/enemy/deployables/map_mine.webp') no-repeat center center;
    background-size: contain;
}

.enemytow {
    background: url('../../../public/icons/enemy/deployables/deployable_anti_tank.webp') no-repeat center center;
    background-size: contain;
}

.enemyhelipad {
    background: url('../../../public/icons/enemy/deployables/deployable_helipad.webp') no-repeat center center;
    background-size: contain;
}

.enemyantiAirGun {
    background: url('../../../public/icons/enemy/deployables/deployable_AntiAirGun.webp') no-repeat center center;
    background-size: contain;
}

.enemyub32rockets {
    background: url('../../../public/icons/enemy/deployables/deployable_ub32rockets.webp') no-repeat center center;
    background-size: contain;
}

.enemyGMG {
    background: url('../../../public/icons/enemy/deployables/deployable_GMG.webp') no-repeat center center;
    background-size: contain;
}

.enemyantiTankGun {
    background: url('../../../public/icons/enemy/deployables/deployable_anti_tank_gun.webp') no-repeat center center;
    background-size: contain;
}

.enemyhellcannon {
    background: url('../../../public/icons/enemy/deployables/deployable_hellcannon.webp') no-repeat center center;
    background-size: contain;
}

.enemyHMG {
    background: url('../../../public/icons/enemy/deployables/deployable_HMG.webp') no-repeat center center;
    background-size: contain;
}

.enemymortars {
    background: url('../../../public/icons/enemy/deployables/deployable_mortars.webp') no-repeat center center;
    background-size: contain;
}

// ENEMY VEHICLES

.enemymapMotorcycle {
    background: url('../../../public/icons/enemy/vehicles/map_motorcycle.webp') no-repeat center center;
    background-size: contain;
}

.enemymapBoatLogistics {
    background: url('../../../public/icons/enemy/vehicles/T_map_boat_logistics.webp') no-repeat center center;
    background-size: contain;
}

.enemymapBoatOpenturret {
    background: url('../../../public/icons/enemy/vehicles/T_map_boat_openturret.webp') no-repeat center center;
    background-size: contain;
}

.enemymapJeepTransport {
    background: url('../../../public/icons/enemy/vehicles/map_jeep_transport.webp') no-repeat center center;
    background-size: contain;
}

.enemymapJeep {
    background: url('../../../public/icons/enemy/vehicles/map_jeep.webp') no-repeat center center;
    background-size: contain;
}

.enemymapJeepLogistics {
    background: url('../../../public/icons/enemy/vehicles/map_jeep_logistics.webp') no-repeat center center;
    background-size: contain;
}

.enemymapJeepAntitank {
    background: url('../../../public/icons/enemy/vehicles/map_jeep_antitank.webp') no-repeat center center;
    background-size: contain;
}

.enemymapJeepArtillery {
    background: url('../../../public/icons/enemy/vehicles/map_jeep_artillery.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTruckTransport {
    background: url('../../../public/icons/enemy/vehicles/map_truck_transport.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTruckTransportArmed {
    background: url('../../../public/icons/enemy/vehicles/map_truck_transport_armed.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTruckLogistics, .enemyVehicles {
    background: url('../../../public/icons/enemy/vehicles/map_truck_logistics.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTruckAntiair {
    background: url('../../../public/icons/enemy/vehicles/map_truck_antiair.webp') no-repeat center center;
    background-size: contain;
}

.enemymapAPC {
    background: url('../../../public/icons/enemy/vehicles/map_apc.webp') no-repeat center center;
    background-size: contain;
}

.enemymapIFV {
    background: url('../../../public/icons/enemy/vehicles/map_ifv.webp') no-repeat center center;
    background-size: contain;
}

.enemymapAntiair {
    background: url('../../../public/icons/enemy/vehicles/map_antiair.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTrackedapcArtillery {
    background: url('../../../public/icons/enemy/vehicles/T_map_trackedapc_artillery.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTrackedapcLogistics {
    background: url('../../../public/icons/enemy/vehicles/T_map_trackedapc_logistics.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTrackedapcMSV {
    background: url('../../../public/icons/enemy/vehicles/T_map_trackedapc_msv.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTrackedapc {
    background: url('../../../public/icons/enemy/vehicles/map_trackedapc.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTrackedifv {
    background: url('../../../public/icons/enemy/vehicles/map_trackedifv.webp') no-repeat center center;
    background-size: contain;
}

.enemytrackedheavyIFV {
    background: url('../../../public/icons/enemy/vehicles/map_trackedheavyifv.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTank {
    background: url('../../../public/icons/enemy/vehicles/map_tank.webp') no-repeat center center;
    background-size: contain;
}

.enemymapHandhelddrone {
    background: url('../../../public/icons/enemy/vehicles/map_handhelddrone.webp') no-repeat center center;
    background-size: contain;
}

.enemymapTransporthelo {
    background: url('../../../public/icons/enemy/vehicles/map_transporthelo.webp') no-repeat center center;
    background-size: contain;
}

.enemymapHelicopterLightcas {
    background: url('../../../public/icons/enemy/vehicles/T_map_helicopter_lightcas.webp') no-repeat center center;
    background-size: contain;
}

.enemymapAttackhelo {
    background: url('../../../public/icons/enemy/vehicles/map_attackhelo.webp') no-repeat center center;
    background-size: contain;
}

.enemymapJetA10 {
    background: url('../../../public/icons/enemy/vehicles/map_jet_a10.webp') no-repeat center center;
    background-size: contain;
}

.enemymapUAV {
    background: url('../../../public/icons/enemy/vehicles/T_strategic_uav.webp') no-repeat center center;
    background-size: contain;
}
    

  
.tippy-box[data-theme~="contextmenu"] {
    background-color: transparent;
    .tippy-content {
        padding: 0;
    }
}