<template id="deployables_html">
    <div class="contextmenuVert">
        <!-- deployable_fob -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_fob"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_fob"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_fob"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_fob"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_fob"></span></button>

        <!-- deployable_hab -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_hab"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_hab"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_hab"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_hab"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_hab"></span></button>

        <!-- deployable_ammocrate -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_ammocrate"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_ammocrate"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_ammocrate"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_ammocrate"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_ammocrate"></span></button>

        <!-- deployable_repairstation -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_repairstation"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_repairstation"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_repairstation"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_repairstation"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_repairstation"></span></button>

        <!-- deployable_helipad -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_helipad"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_helipad"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_helipad"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_helipad"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_helipad"></span></button>

        <!-- rallypoint -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="rallypoint"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="rallypoint"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="rallypoint"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="rallypoint"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="rallypoint"></span></button>

        <!-- deployable_anti_tank -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_anti_tank"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_anti_tank"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_anti_tank"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_anti_tank"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_anti_tank"></span></button>

        <!-- deployable_HMG -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_HMG"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_HMG"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_HMG"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_HMG"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_HMG"></span></button>

        <!-- deployable_AntiAirGun -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_AntiAirGun"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_AntiAirGun"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_AntiAirGun"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_AntiAirGun"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_AntiAirGun"></span></button>

        <!-- deployable_GMG -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_GMG"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_GMG"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_GMG"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_GMG"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_GMG"></span></button>

        <!-- deployable_anti_tank_gun -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_anti_tank_gun"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_anti_tank_gun"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_anti_tank_gun"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_anti_tank_gun"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_anti_tank_gun"></span></button>

        <!-- deployable_mortars -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_mortars"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_mortars"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_mortars"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_mortars"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_mortars"></span></button>

        <!-- deployable_hellcannon -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_hellcannon"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_hellcannon"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_hellcannon"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_hellcannon"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_hellcannon"></span></button>

        <!-- deployable_ub32rockets -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="deployable_ub32rockets"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="deployable_ub32rockets"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="deployable_ub32rockets"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="deployable_ub32rockets"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="deployable_ub32rockets"></span></button>

        <!-- map_mine -->
        <button class="ctxButton"><span data-team="default" data-category="deployables" data-icon="map_mine"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="deployables" data-icon="map_mine"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="deployables" data-icon="map_mine"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="deployables" data-icon="map_mine"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="deployables" data-icon="map_mine"></span></button>

    </div>
</template>

<template id="enemy_vehicles_html">
    <div class="contextmenuVert">
        <!-- map_motorcycle -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_motorcycle"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_motorcycle"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_motorcycle"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_motorcycle"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_motorcycle"></span></button>

        <!-- T_map_boat_logistics -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="T_map_boat_logistics"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="T_map_boat_logistics"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="T_map_boat_logistics"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="T_map_boat_logistics"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="T_map_boat_logistics"></span></button>

        <!-- T_map_boat_openturret -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="T_map_boat_openturret"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="T_map_boat_openturret"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="T_map_boat_openturret"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="T_map_boat_openturret"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="T_map_boat_openturret"></span></button>

        <!-- map_jeep_transport -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_jeep_transport"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_jeep_transport"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_jeep_transport"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_jeep_transport"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_jeep_transport"></span></button>

        <!-- map_jeep_logistics -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_jeep_logistics"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_jeep_logistics"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_jeep_logistics"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_jeep_logistics"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_jeep_logistics"></span></button>

        <!-- map_truck_transport -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_truck_transport"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_truck_transport"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_truck_transport"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_truck_transport"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_truck_transport"></span></button>

        <!-- map_truck_transport_armed -->
        <!-- <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_truck_transport_armed"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_truck_transport_armed"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_truck_transport_armed"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_truck_transport_armed"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_truck_transport_armed"></span></button> -->

        <!-- map_truck_logistics -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_truck_logistics"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_truck_logistics"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_truck_logistics"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_truck_logistics"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_truck_logistics"></span></button>

        <!-- T_map_trackedapc_logistics -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="T_map_trackedapc_logistics"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="T_map_trackedapc_logistics"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="T_map_trackedapc_logistics"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="T_map_trackedapc_logistics"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="T_map_trackedapc_logistics"></span></button>

        <!-- T_map_trackedapc_msv -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="T_map_trackedapc_msv"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="T_map_trackedapc_msv"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="T_map_trackedapc_msv"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="T_map_trackedapc_msv"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="T_map_trackedapc_msv"></span></button>

    </div>
</template>

<template id="gun_vehicles_html">
    <div class="contextmenuVert">

        <!-- map_jeep -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_jeep"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_jeep"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_jeep"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_jeep"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_jeep"></span></button>

        <!-- map_jeep_antitank -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_jeep_antitank"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_jeep_antitank"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_jeep_antitank"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_jeep_antitank"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_jeep_antitank"></span></button>

        <!-- map_jeep_artillery -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_jeep_artillery"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_jeep_artillery"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_jeep_artillery"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_jeep_artillery"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_jeep_artillery"></span></button>

        <!-- map_truck_antiair -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_truck_antiair"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_truck_antiair"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_truck_antiair"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_truck_antiair"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_truck_antiair"></span></button>

        <!-- map_apc -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_apc"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_apc"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_apc"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_apc"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_apc"></span></button>

        <!-- map_ifv -->
        <!-- 
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_ifv"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_ifv"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_ifv"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_ifv"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_ifv"></span></button
        -->

        <!-- map_antiair -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_antiair"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_antiair"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_antiair"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_antiair"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_antiair"></span></button>

        <!-- T_map_trackedapc_artillery -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="T_map_trackedapc_artillery"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="T_map_trackedapc_artillery"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="T_map_trackedapc_artillery"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="T_map_trackedapc_artillery"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="T_map_trackedapc_artillery"></span></button>

        <!-- map_trackedapc -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_trackedapc"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_trackedapc"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_trackedapc"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_trackedapc"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_trackedapc"></span></button>

        <!-- map_trackedifv -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_trackedifv"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_trackedifv"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_trackedifv"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_trackedifv"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_trackedifv"></span></button>

        <!-- map_trackedheavyifv -->
        <!-- Same icon than map_trackedifv
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_trackedheavyifv"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_trackedheavyifv"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_trackedheavyifv"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_trackedheavyifv"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_trackedheavyifv"></span></button>
         -->

        <!-- map_tank -->
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_tank"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_tank"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_tank"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_tank"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_tank"></span></button>
    </div>
</template>

<template id="infantry_html">
    <div class="contextmenuVert">
        <button class="ctxButton"><span data-team="default" data-category="infantry" data-icon="map_genericinfantry"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="infantry" data-icon="map_genericinfantry"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="infantry" data-icon="map_genericinfantry"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="infantry" data-icon="map_genericinfantry"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="infantry" data-icon="map_genericinfantry"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="infantry" data-icon="map_hat"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="infantry" data-icon="map_hat"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="infantry" data-icon="map_hat"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="infantry" data-icon="map_hat"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="infantry" data-icon="map_hat"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="infantry" data-icon="map_infantiair"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="infantry" data-icon="map_infantiair"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="infantry" data-icon="map_infantiair"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="infantry" data-icon="map_infantiair"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="infantry" data-icon="map_infantiair"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="infantry" data-icon="map_infmg"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="infantry" data-icon="map_infmg"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="infantry" data-icon="map_infmg"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="infantry" data-icon="map_infmg"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="infantry" data-icon="map_infmg"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="infantry" data-icon="map_lat"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="infantry" data-icon="map_lat"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="infantry" data-icon="map_lat"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="infantry" data-icon="map_lat"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="infantry" data-icon="map_lat"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="infantry" data-icon="map_marksmansniper"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="infantry" data-icon="map_marksmansniper"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="infantry" data-icon="map_marksmansniper"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="infantry" data-icon="map_marksmansniper"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="infantry" data-icon="map_marksmansniper"></span></button>

    </div>
</template>


<template id="air_html">
    <div class="contextmenuVert">
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_handhelddrone"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_handhelddrone"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_handhelddrone"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_handhelddrone"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_handhelddrone"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_transporthelo"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_transporthelo"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_transporthelo"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_transporthelo"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_transporthelo"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="T_map_helicopter_lightcas"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="T_map_helicopter_lightcas"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="T_map_helicopter_lightcas"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="T_map_helicopter_lightcas"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="T_map_helicopter_lightcas"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_attackhelo"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_attackhelo"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_attackhelo"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_attackhelo"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_attackhelo"></span></button>

        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="map_jet_a10"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="map_jet_a10"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="map_jet_a10"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="map_jet_a10"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="map_jet_a10"></span></button>

        <!-- TODO rework
        <button class="ctxButton"><span data-team="default" data-category="vehicles" data-icon="T_strategic_uav"></span></button>
        <button class="ctxButton"><span data-team="blue" data-category="vehicles" data-icon="T_strategic_uav"></span></button>
        <button class="ctxButton"><span data-team="red" data-category="vehicles" data-icon="T_strategic_uav"></span></button>
        <button class="ctxButton"><span data-team="green" data-category="vehicles" data-icon="T_strategic_uav"></span></button>
        <button class="ctxButton"><span data-team="orange" data-category="vehicles" data-icon="T_strategic_uav"></span></button>
        -->
    </div>
</template>

<template id="pens_html">
    <div class="contextmenu">
        <button class="shapeButton penButton">
            <span class="pen red" data-team="shared" data-category="ctx" data-icon="pen"></span>
        </button>   
        <button class="shapeButton penButton">
            <span class="pen green" data-team="shared" data-category="ctx" data-icon="pen"></span>
        </button>
        <button class="shapeButton penButton">
            <span class="pen black" data-team="shared" data-category="ctx" data-icon="pen"></span>
        </button>   
            <button class="shapeButton penButton">
            <span class="pen orange" data-team="shared" data-category="ctx" data-icon="pen"></span>
        </button>  
        <button class="shapeButton penButton">
            <span class="pen purple" data-team="shared" data-category="ctx" data-icon="pen"></span>
        </button>
        <button class="shapeButton penButton">
            <span class="pen teal" data-team="shared" data-category="ctx" data-icon="pen"></span>
        </button>
        <button class="shapeButton penButton">
            <span class="pen yellow" data-team="shared" data-category="ctx" data-icon="pen"></span>
    </button>
    </div>
</template>

<template id="arrows_html">
    <div class="contextmenu">
        <button class="shapeButton">
            <span class="arrow red" data-team="shared" data-category="ctx" data-icon="arrow"></span>
        </button>   
        <button class="shapeButton">
            <span class="arrow green" data-team="shared" data-category="ctx" data-icon="arrow"></span>
        </button>
        <button class="shapeButton">
            <span class="arrow black" data-team="shared" data-category="ctx" data-icon="arrow"></span>
        </button>
        <button class="shapeButton">
            <span class="arrow orange" data-team="shared" data-category="ctx" data-icon="arrow"></span>
        </button>  
        <button class="shapeButton">
            <span class="arrow purple" data-team="shared" data-category="ctx" data-icon="arrow"></span>
        </button>
        <button class="shapeButton">
            <span class="arrow teal" data-team="shared" data-category="ctx" data-icon="arrow"></span>
        </button>
        <button class="shapeButton">
            <span class="arrow yellow" data-team="shared" data-category="ctx" data-icon="arrow"></span>
        </button>    
    </div>
</template>

<template id="rectangles_html">
    <div class="contextmenu">
        <button class="shapeButton">
            <span class="rectangle red" data-team="shared" data-category="ctx" data-icon="rectangle"></span>
        </button>   
        <button class="shapeButton">
            <span class="rectangle green" data-team="shared" data-category="ctx" data-icon="rectangle"></span>
        </button>
        <button class="shapeButton">
            <span class="rectangle black" data-team="shared" data-category="ctx" data-icon="rectangle"></span>
        </button>  
        <button class="shapeButton">
            <span class="rectangle orange" data-team="shared" data-category="ctx" data-icon="rectangle"></span>
        </button>  
        <button class="shapeButton">
            <span class="rectangle purple" data-team="shared" data-category="ctx" data-icon="rectangle"></span>
        </button>
        <button class="shapeButton">
            <span class="rectangle teal" data-team="shared" data-category="ctx" data-icon="rectangle"></span>
        </button>
        <button class="shapeButton">
            <span class="rectangle yellow" data-team="shared" data-category="ctx" data-icon="rectangle"></span>
        </button>
    </div>
</template>

<template id="circles_html">
    <div class="contextmenu">
        <button class="shapeButton">
            <span class="circle red" data-team="shared" data-category="ctx" data-icon="circle"></span>
        </button>   
        <button class="shapeButton">
            <span class="circle green" data-team="shared" data-category="ctx" data-icon="circle"></span>
        </button>
        <button class="shapeButton">
            <span class="circle black" data-team="shared" data-category="ctx" data-icon="circle"></span>
        </button>
        <button class="shapeButton">
            <span class="circle orange" data-team="shared" data-category="ctx" data-icon="circle"></span>
        </button>
        <button class="shapeButton">
            <span class="circle purple" data-team="shared" data-category="ctx" data-icon="circle"></span>
        </button>
        <button class="shapeButton">
            <span class="circle teal" data-team="shared" data-category="ctx" data-icon="circle"></span>
        </button>
        <button class="shapeButton">
            <span class="circle yellow" data-team="shared" data-category="ctx" data-icon="circle"></span>
        </button>
        
    </div>
</template>