@use './variables';

/**************************************
*  Tippy.js ToolTips customization
***************************************/

.tippy-box {
    &[data-theme~='mapFactionMenu'] {
        background: rgba(30, 30, 30, 0.7);
        backdrop-filter: blur(6px);
        border-radius: 8px;
        padding: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.25);
        &[data-placement^='top']>.tippy-arrow::before {
            display: none;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            display: none;
        }
    }
    &[data-theme~='spawnCards'] {
        background: rgba(30, 30, 30, 0.7);
        backdrop-filter: blur(6px);
        border-radius: 8px;
           // overflow: hidden;
        box-shadow: 0 4px 12px rgba(0,0,0,0.25);
        .tippy-content {
            padding: 0;

        }
        &[data-placement^='top']>.tippy-arrow::before {
            display: none;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            display: none;
        }
    }
    &[data-theme~='new'] {
        background-color: variables.$newColor;
        color: variables.$mainTxtColor;
        font-weight: bold;
        letter-spacing: 0.1rem;
        &[data-placement^='top']>.tippy-arrow::before {
            border-top-color: variables.$newColor;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: variables.$newColor;
        }
        &[data-placement^='left']>.tippy-arrow::before {
            border-left-color: variables.$newColor;
        }
        &[data-placement^='right']>.tippy-arrow::before {
            border-right-color: variables.$newColor;
        }
    }
    &[data-theme~="results"] .tippy-content {
        font-size: 1.4em;
        padding: 0.5em;
        line-height: 0.9em;
        font-weight: bold;
    }
    &[data-theme~='menu'] {
        background-color: variables.$mainTxtColor;
        color: variables.$mainBGColor;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .05em;
        line-height: 1.2em;
        padding: 10px 14px;
        border-radius: 5px;
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);
        &[data-placement^='top']>.tippy-arrow::before {
            border-top-color: variables.$mainTxtColor;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: variables.$mainTxtColor;
        }
        &[data-placement^='left']>.tippy-arrow::before {
            border-left-color: variables.$mainTxtColor;
        }
        &[data-placement^='right']>.tippy-arrow::before {
            border-right-color: variables.$mainTxtColor;
        }
        .tooltipsubtext {
            padding: 0;
            margin: 0;
            font-size: 0.85em;
            color: rgb(90, 90, 90);
        }
        &:has(.tooltipsubtext) {
            padding: 6px 12px 0;
        }
    }
    &[data-theme~='preview'] {
        @include variables.text-outline;
        background-color: transparent;
        font-size: calc(var(--font-size-objtext) + 0.2em);
        color: variables.$mainTxtColor;
        letter-spacing: 0.1rem;
        margin-top: 5px;
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: transparent;
        }
    }
    &[data-theme~='settingsTooltips'] {
        margin-top: 2px;
        font-size: 0.9em;
        text-align: center;
        padding: 5px;
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    }
}

.tippy-arrow {
    transform: scale(1.5);
}