body {
    overflow: hidden;
    min-height: 100vh;
    color: white;
}
  
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    pointer-events: none;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
    z-index: 9999;
}

#snow {
  display: none;
}