<header class="pure-g" oncontextmenu="return false;">

    <div class="pure-u-1 pure-u-md-1-5 mapSelector">
        <div id="mapSelector" class="dropdown animate__animated animate__fadeIn">
            <select class="dropbtn unselectable" tabindex="-1"></select>
        </div>
        <div id="layerSelector" class="dropdown animate__animated animate__fadeIn">
            <select class="dropbtn5 unselectable" tabindex="-1"></select>
        </div>
    </div>

    <div class="Krest-logo-link pure-u-1 pure-u-md-1-5 animate__animated animate__fadeIn"
         style="width:100vw;padding-top:.5em;z-index:1;cursor:pointer;pointer-events:none;display:flex;justify-content:center;"><a href="https://krestgg.ru/"
                                                                                              target="_blank"
                                                                                              data-i18n-title="common:Перейти на сайт Кресты"
                                                                                              title="На главную Кресты"
                                                                                              style="pointer-events:auto">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 28.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
             x="0px" y="0px" width="100" height="50"
             viewBox="0 0 73.7 35.5" style="enable-background:new 0 0 73.7 35.5;" xml:space="preserve">
<style type="text/css">
	.st0 {
        fill: #FFFFFF;
    }

    .st1 {
        fill: #111111;
    }

    .st2 {
        fill: #E62C25;
    }
</style>
            <path class="st0" d="M3.2,0v6.5h3.2V0h3.2v9.8H3.2V13h6.5v22.5H6.5V16.1H3.2v19.4H0V0H3.2z"/>
            <path class="st0" d="M12.7,0h9.7v24.9l-6.5,6.5v4.2h-3.2V0z M15.9,26.8l3.2-3.2V3.2h-3.2L15.9,26.8z"/>
            <path class="st0" d="M25.4,0H35v9.8h-3.2V3.2h-3.2v9.7h3.2v3.2h-3.2v16h3.2V19.4H35v16.1h-9.7V0z"/>
            <path class="st0" d="M38.1,0h9.7v9.8h-3.2V3.2h-3.2v29.1h3.2V12.9h3.2v22.6h-9.7V0z"/>
            <path class="st0" d="M67.3,12.9h-6.4V0h-3.3v35.5h9.7V12.9z M64.1,32.3h-3.1v-16h3.2L64.1,32.3z"/>
            <polygon class="st0" points="70.5,0 70.5,11 70.5,12.9 70.5,16.1 70.5,18.8 70.5,35.5 73.7,35.5 73.7,0 "/>
            <polygon class="st1" points="57.6,6.5 54.1,6.5 54.1,0 50.9,0 50.9,6.5 47.7,6.5 47.7,9.7 50.9,9.7 50.9,35.5 54.1,35.5 54.1,9.7
	57.6,9.7 "/>
            <polygon class="st2" points="57.6,6.5 54.1,6.5 54.1,0 50.9,0 50.9,6.5 47.7,6.5 47.7,9.7 50.9,9.7 50.9,35.5 54.1,35.5 54.1,9.7
	57.6,9.7 "/>
</svg>

    </a></div>

    <div class="pure-u-1 pure-u-md-1-5 weaponSelector animate__animated animate__fadeIn">
        <div id="weaponSelector" class="dropdown">
            <select class="dropbtn2 unselectable" tabindex="-1"></select>
        </div>
        <div id="ammoSelector" class="dropdown animate__animated animate__fadeIn">
            <select class="dropbtn3 unselectable" tabindex="-1">
                <option data-i18n="weapons:impact" value="0">impact</option>
                <option data-i18n="weapons:nearSurface" value="1">near-surface</option>
            </select>
        </div>
    </div>

</header>


<div id="loader" class="pure-g" style="display: none;">
    <span id="loaderLogo" class="animate__animated animate__fadeIn" style="display: none;">
        <div>
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                 x="0px" y="0px" width="auto" height="150"
                 viewBox="0 0 73.7 35.5" style="enable-background:new 0 0 73.7 35.5;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill: #FFFFFF;
                    }
                    .st1 {
                        fill: #111111;
                    }
                    .st2 {
                        fill: #E62C25;
                    }
                </style>
                <path class="st0" d="M3.2,0v6.5h3.2V0h3.2v9.8H3.2V13h6.5v22.5H6.5V16.1H3.2v19.4H0V0H3.2z"/>
                <path class="st0" d="M12.7,0h9.7v24.9l-6.5,6.5v4.2h-3.2V0z M15.9,26.8l3.2-3.2V3.2h-3.2L15.9,26.8z"/>
                <path class="st0" d="M25.4,0H35v9.8h-3.2V3.2h-3.2v9.7h3.2v3.2h-3.2v16h3.2V19.4H35v16.1h-9.7V0z"/>
                <path class="st0" d="M38.1,0h9.7v9.8h-3.2V3.2h-3.2v29.1h3.2V12.9h3.2v22.6h-9.7V0z"/>
                <path class="st0" d="M67.3,12.9h-6.4V0h-3.3v35.5h9.7V12.9z M64.1,32.3h-3.1v-16h3.2L64.1,32.3z"/>
                <polygon class="st0" points="70.5,0 70.5,11 70.5,12.9 70.5,16.1 70.5,18.8 70.5,35.5 73.7,35.5 73.7,0 "/>
                <polygon class="st1" points="57.6,6.5 54.1,6.5 54.1,0 50.9,0 50.9,6.5 47.7,6.5 47.7,9.7 50.9,9.7 50.9,35.5 54.1,35.5 54.1,9.7
                    57.6,9.7 "/>
                <polygon class="st2" points="57.6,6.5 54.1,6.5 54.1,0 50.9,0 50.9,6.5 47.7,6.5 47.7,9.7 50.9,9.7 50.9,35.5 54.1,35.5 54.1,9.7
                    57.6,9.7 "/>
            </svg>
        </div>
        <div>
            <span data-i18n="common:squad">SQUAD</span>
            <span data-i18n="common:calc">CALC</span>
        </div>
        <div data-i18n="common:hostedByKrest" style="font-size:20px;line-height:60px">На серверах Кресты</div>
    </span>
</div>