<header class="pure-g">

    <div class="pure-u-1 pure-u-md-1-5 mapSelector">
        <div id="mapSelector" class="dropdown">
            <select class="dropbtn unselectable" tabindex="-1"></select>
        </div>
        <div id="layerSelector" class="dropdown">
            <select class="dropbtn5 unselectable" tabindex="-1"></select>
        </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-5 weaponSelector">
        <div id="weaponSelector" class="dropdown">
            <select class="dropbtn2 unselectable" tabindex="-1"></select>
        </div>
        <div id="ammoSelector" class="dropdown">
            <select class="dropbtn3 unselectable" tabindex="-1">
                <option data-i18n="weapons:impact" value="0">impact</option>
                <option data-i18n="weapons:nearSurface" value="1">near-surface</option>
            </select>
        </div>
    </div>
    
</header>


<div id="loader" class="pure-g">
    <span id="loaderLogo" class="animate__animated animate__jackInTheBox">
        <span data-i18n="common:squad"></span>
        <span data-i18n="common:calc"></span>
    </span>
</div>