@use "../shared/variables";

/***************************************
************   HEADER   ***************
**************************************/

/****************
* Weapon Selector
*****************/

header {
    position: relative;
    width: 100%;
    z-index: 2;
    top: 0;
    pointer-events: none;
    &.ui {
        position: fixed;
    }
    .weaponSelector {
        z-index: 4;
        padding-top: 1em;
        pointer-events: none;
        .select2-results__options {
            font-weight: 600;
            line-height: 1.1em;
            font-size: 0.9em;
        }
        .select2-results__group {
            color: rgba(255, 255, 255, .7);
            padding-top: 10px;
            font-weight: 900;
            text-align: left;
            padding-left: 15px;
            font-size: 1.1em;
        }
        #ammoSelector {
            padding-top: 1em;
        }
    }
    .mapSelector {
        padding-top: 1em;
        z-index: 5;
        pointer-events: none;
        position: relative;
        .select2-results__options {
            line-height: 0.7em;
            font-size: 0.9em;
        }
        .select2-container--disabled {
            background-color: transparent;
            .select2-selection__rendered {
                background-color: transparent;
            }
        }
        #mapSelector {
            z-index: 3;
            position: relative;
        }
        #layerSelector {
            z-index: 2;
            padding-top: 1em;
            position: relative;
        }
    }
    .selectbox {
        padding: 0;
    }
    .dropbtn,
    .dropbtn2,
    .dropbtn3,
    .dropbtn5 {
        color: #fff;
        font-weight: bold;
        line-height: 2.188em;
        text-transform: uppercase;
        background-color: var(--themecolor, variables.$mainBGColor);
        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            background-image: none;
            border: none;
            box-shadow: none;
        }
        &:focus {
            outline: none;
        }
    }
    .select2 {
        background-color: transparent;
    }
    .select2-container {
        @include variables.text-outline;
        font-size: 0.8em;
        pointer-events: all;
        background-color: transparent;
        border-bottom: 1px solid variables.$mainTxtColor;
        // line-height: 2.188em;
        min-width: 200px;
        padding-bottom: 0;
        text-transform: uppercase;
    }
    .select2-container--default {
        .select2-results__option--highlighted[aria-selected] {
            background-color: variables.$mainColor;
        }
        .select2-results__option--selected {
            background-color: variables.$mainColor;
            opacity: 0.5;
        }
        .select2-selection--single .select2-selection__rendered {
            color: #fff;
        }
        .select2-selection--single {
            background-color: transparent;
            border: none;
            color: variables.$mainTxtColor;
        }
    }
    span.select2-selection.select2-selection--single {
        outline: none;
    }
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: transparent;
    cursor: not-allowed;
    .select2-selection__rendered {
        color: lightgray;
        font-style: italic;
    }
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    float: left;
    margin-right: 0;
}