$blackBG: black;
$darkColor: white;
[data-theme='dark'] {
    background-color: $blackBG;
    color: $darkColor !important;
    border-color: $darkColor;
}

[data-theme='dark'] .select2 {
    background-color: $blackBG;
    color: $darkColor !important;
    border-color: $darkColor!important;
}

[data-theme='dark'] .select2-container {
    background-color: $blackBG;
    color: $darkColor !important;
    border-color: $darkColor;
}

[data-theme='dark'] .select2-selection__rendered {
    background-color: $blackBG;
    color: $darkColor !important;
    border-color: $darkColor;
}

[data-theme='dark'] .select2-results__options {
    background-color: $blackBG;
    color: $darkColor !important;
    border-color: $darkColor;
}

[data-theme='dark'] input {
    border-color: $darkColor;
}

[data-theme='dark'] .results {
    border-color: $darkColor;
}

[data-theme='dark'] .switch-field input:checked+label {
    background-color: $darkColor;
}

[data-theme='dark'] .switch-field label {
    background-color: #464444;
}

[data-theme='dark'] .error {
    border: 5px solid FireBrick;
}