$greenBG: #002c0d;
$greenColor: white;
[data-theme='green'] {
    background-color: $greenBG;
    color: $greenColor !important;
    border-color: $greenColor;
}

[data-theme='green'] .select2 {
    background-color: $greenBG;
    color: $greenColor !important;
    border-color: $greenColor!important;
}

[data-theme='green'] .select2-container {
    background-color: $greenBG;
    color: $greenColor !important;
    border-color: $greenColor;
}

[data-theme='green'] .select2-selection__rendered {
    background-color: $greenBG;
    color: $greenColor !important;
    border-color: $greenColor;
}

[data-theme='green'] .select2-results__options {
    background-color: $greenBG;
    color: $greenColor !important;
    border-color: $greenColor;
}

[data-theme='green'] input {
    border-color: $greenColor;
}

[data-theme='green'] .results {
    border-color: $greenColor;
}

[data-theme='green'] .switch-field input:checked+label {
    background-color: $greenColor;
}

[data-theme='green'] .switch-field label {
    background-color: #464444;
}

[data-theme='green'] .error {
    border: 5px solid FireBrick;
}