/***************************************************
 ************   HEIGHT ADJUSTMENTS   ***************
 ***************************************************/


/* -- L*568px -- */

@media (min-height: 35em) {
    .select2-results__options {
        max-height: 370px !important;
    }
}


/* -- L*730px -- */

@media (min-height: 45em) {
    .select2-results__options {
        line-height: 1em;
        max-height: 570px !important;
    }
    .fab-wrapper {
        display: block;
    }
}


/* -- L*800px -- */

@media (min-height: 50em) {
    .select2-results__options {
        max-height: 700px !important;
    }
}


/***************************************************
   ************   WIDTH ADJUSTMENTS  ***************
   ***************************************************/


/* L<768px */

@media screen and (max-width: 48em) {
    /* -- H < 568px -- */
    @media (min-height: 35em) {
        .results {
            margin: 1.5em auto;
        }
        .keypads {
            margin-top: 1em;
        }
        input {
            height: 40px;
        }
        .saved {
            font-size: 0.65em;
        }
    }
    /* -- H < 730px -- */
    @media (min-height: 45em) {
        .results {
            margin: 1.5em auto;
        }
        .keypads {
            margin-top: 1.5em;
        }
        .saved {
            font-size: 0.7em;
        }
    }
    /* -- H < 800px -- */
    @media (min-height: 50em) {
        input {
            font-size: 1.4em;
            height: 50px;
        }
        .content {
            padding-top: 1em;
        }
        .mapSelector {
            margin-top: 2em;
        }
        .results {
            font-size: 1.7em;
            margin: 2em auto;
        }
        .keypads {
            margin-top: 2em;
        }
        .saved {
            font-size: 0.8em;
        }
    }
}


/* ≥ 768px */

@media screen and (min-width: 48em) {
    /* On big screen, fix map&weapon Selectors on top corners */
    .logo {
        width: 350px;
    }
    .mapSelector {
        position: fixed;
        right: 1em;
        top: 0;
    }
    .weaponSelector {
        left: 1em;
        position: fixed;
        top: 0;
    }
    .mortar_selector {
        height: 35px;
        width: 50px;
    }
    .mortar_selector_classic {
        background: url("../img/icons/classic_mortar.png") no-repeat scroll 0 6px transparent;
    }
    .mortar_selector_technical {
        background: url("../img/icons/technical_mortar.png") no-repeat scroll 0 6px transparent;
    }
    .mortar_selector_hell {
        background: url("../img/icons/hell_mortar.png") no-repeat scroll 0 6px transparent;
    }
    .mortar_selector_french {
        background: url("../img/icons/french_mortar.png") no-repeat scroll 0 6px transparent;
    }
    .mortar_selector_mlrs {
        background: url("../img/icons/mlrs.png") no-repeat scroll 0 6px transparent;
    }
    .mortar_selector_classic,
    .mortar_selector_technical,
    .mortar_selector_hell,
    .mortar_selector_french,
    .mortar_selector_mlrs {
        background-size: 100%;
    }
    .select2-container {
        float: right;
        font-size: 0.8em;
        min-width: 150px;
        right: 0;
    }
    .switch-field {
        float: left;
    }
    .coord img {
        height: 45px;
        width: 45px;
    }
    .content {
        padding-top: 3em;
    }
    /* -- L*560px -- */
    @media (min-height: 35em) {
        .content {
            font-size: 25px;
            padding-top: 5em;
        }
        input {
            height: 60px;
        }
        .fab-wrapper {
            display: block;
        }
    }
    /* -- L*730px -- */
    @media (min-height: 45em) {
        .content {
            padding-top: 5em;
        }
        input {
            height: 70px;
        }
    }
    /* -- L*800px -- */
    @media (min-height: 50em) {
        .content {
            font-size: 30px;
        }
    }
}


/* ≥ 992px */

@media screen and (min-width: 62em) {
    .select2-container {
        font-size: 1em;
        min-width: 196px;
    }
    .mortar_selector {
        height: 35px;
        width: 65px;
    }
    .mortar_selector_classic {
        background: url("../img/icons/classic_mortar.png") no-repeat scroll 3px 3px transparent;
    }
    .mortar_selector_technical {
        background: url("../img/icons/technical_mortar.png") no-repeat scroll 3px 3px transparent;
    }
    .mortar_selector_hell {
        background: url("../img/icons/hell_mortar.png") no-repeat scroll 3px 3px transparent;
    }
    .mortar_selector_french {
        background: url("../img/icons/french_mortar.png") no-repeat scroll 3px 3px transparent;
    }
    .mortar_selector_mlrs {
        background: url("../img/icons/mlrs.png") no-repeat scroll 3px 3px transparent;
    }
}


/* ≥ 1200px */

@media screen and (min-width: 62em) {
    .select2-container {
        max-width: 230px;
    }
}


/* ≥ 1400px */

@media screen and (min-width: 87.5em) {
    .select2-results__options {
        font-size: 1em;
    }
}


/* ≥ 1920px */

@media screen and (min-width: 124em) {
    /* ≥ 1920px & 1080 */
    @media (min-height: 68em) {
        .select2-container {
            font-size: 1.4em;
            min-width: 350px;
        }
        .select2-results__options {
            font-size: 1.2em;
            line-height: 1.1em;
            max-height: 1000px !important;
        }
        .select2-selection__placeholder {
            font-size: 1.1em;
        }
        .select2-selection__rendered {
            font-size: 1.2em;
        }
        input {
            font-size: 1.7em;
            height: 80px;
        }
        .results {
            font-size: 3em;
            margin: 1.5em auto;
        }
        .keypads {
            margin-top: 2em;
        }
        .saved {
            font-size: 1em;
        }
        .mortar_selector,
        .french_mortar_selector {
            display: inline-block;
            height: 45px;
            width: 95px;
        }
        .mortar_selector_classic,
        .mortar_selector_technical,
        .mortar_selector_hell,
        .mortar_selector_french,
        .mortar_selector_mlrs,
        .french_mortar_selector_short,
        .french_mortar_selector_medium,
        .french_mortar_selector_long {
            background-size: 85%;
        }
        .switch-field label {
            &:first-of-type {
                border-radius: 10px 0 0 10px;
            }
            &:last-of-type {
                border-radius: 0 10px 10px 0;
            }
        }
        .switch-field2 label {
            &:first-of-type {
                border-radius: 10px 10px 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 10px 10px;
            }
        }
        .weaponSelector {
            padding: 2em 0 0 1.5em;
        }
        .tippy-box {
            font-size: 140%;
        }
        .mapSelector {
            padding: 2em 1.5em 0 0;
        }
        .coord img {
            height: 75px;
            margin-bottom: 0.8em;
            width: 75px;
        }
        .logo {
            width: 550px;
        }
    }
}