/***************************************************
 ************   HEIGHT ADJUSTMENTS   ***************
 ***************************************************/


/* -- L*568px -- */

@media (min-height: 35em) {
    header {
        #mapSelector {
            .select2-results__options {
                max-height: 370px;
            }
        }
        #weaponSelector {
            .select2-results__options {
                max-height: 390px;
            }
        }
    }
}


/* -- L*730px -- */

@media (min-height: 45em) {
    header {
        #mapSelector {
            .select2-results__options {
                line-height: 1em;
                max-height: 570px;
            }
        }
    }
    .fab-wrapper, .fab-wrapper2 {
        display: block;
    }
}


/* -- L*800px -- */

@media (min-height: 50em) {
    header {
        #mapSelector {
            .select2-results__options {
                max-height: 700px;
            }
        }
    }
}


/***************************************************
   ************   WIDTH ADJUSTMENTS  ***************
   ***************************************************/


/* L<768px */

@media screen and (max-width: 48em) {
    /* -- H < 568px -- */
    @media (min-height: 35em) {
        main {
            input {
                height: 40px;
            }
            #saved {
                font-size: 0.65em;
            }
            .results {
                margin: 1.5em auto;
            }
        }
    }
    /* -- H < 800px -- */
    @media (min-height: 50em) {
        main {
            padding-top: 1em;
            .results {
                font-size: 1.7em;
                margin: 2em auto;
            }
            #saved {
                font-size: 0.8em;
            }
        }
    }
}


/* ≥ 768px */

@media screen and (min-width: 48em) {
    /* On big screen, fix map&weapon Selectors on top corners */
    header {
        .weaponSelector {
            // Animation
            opacity: 0;
            transform: translateY(-30px);
            animation: appear 0.5s 0.75s ease-out forwards;
            // fix to top left corner
            left: 1em;
            position: fixed;
            top: 0;
            .select2-container {
                float: left;
                font-size: 1em;
            }
            &.ui {
                top: 0em;
            }
        }
        .mapSelector {
            // Animation
            opacity: 0;
            transform: translateY(-30px);
            animation: appear 0.5s 0.75s ease-out forwards;
            // fix to top right corner
            position: fixed;
            right: 1em;
            top: 0;
            margin-top: 0;
            .select2-container {
                float: right;
                font-size: 1em;
            }
            &.ui {
                top: 0;
            }
        }
    }
    main {
        padding-top: 3em;
        .coord {
            img {
                height: 45px;
            }
        }
    }
    footer {
        // opacity: 0;
        // transform: translateY(30px);
        // animation: appear 0s 0.25s ease-out forwards;
        .logo {
            width: 350px;
        }
    }
    /* -- L*560px -- */
    @media (min-height: 35em) {
        main {
            font-size: 25px;
            padding-top: 5em;
            input {
                height: 60px;
            }
        }
        .fab-wrapper, .fab-wrapper2 {
            display: block;
        }

    }
    /* -- L*730px -- */
    @media (min-height: 45em) {
        main {
            padding-top: 5em;
            input {
                height: 70px;
            }
        }
    }
    /* -- L*800px -- */
    @media (min-height: 50em) {
        main {
            font-size: 30px;
        }
    }
}


/* ≥ 992px */

@media screen and (min-width: 62em) {
    header {
        .select2-container {
            font-size: 1em;
            min-width: 196px;
        }
    }
}


/* ≥ 1200px */

@media screen and (min-width: 62em) {
    header {
        .select2-container {
            max-width: 230px;
        }
    }
}


/* ≥ 1400px */

@media screen and (min-width: 87.5em) {
    header {
        .select2-results__options {
            font-size: 1em;
        }
    }
}


/* ≥ 1920px */

@media screen and (min-width: 124em) {
    /* ≥ 1920px & 1080 */
    @media (min-height: 68em) {
        header {
            .weaponSelector {
                padding: 2em 0 0 1.5em;
            }
            .mapSelector {
                padding: 2em 1.5em 0 0;
            }
            #weaponSelector,
            #mapSelector {
                .select2-container {
                    min-width: 350px;
                    padding-bottom: 1em;
                    font-size: 1.4em;
                }
                .select2-results__options {
                    font-size: 1.2em;
                    line-height: 1.3em;
                    max-height: 1100px;
                }
                .select2-selection__placeholder {
                    font-size: 1.1em;
                }
                .select2-selection__rendered {
                    font-size: 1.2em;
                }
            }
        }
        main {
            padding-top: 7em;
            input {
                font-size: 1.7em;
                height: 100px;
            }
            #results {
                font-size: 1.5em;
            }
            #saved {
                font-size: 1em;
            }
            .coord img {
                height: 75px;
            }
        }
        footer {
            .logo {
                width: 600px;
            }
        }
        .tippy-box {
            font-size: 200%;
        }
    }
}