/*
   * -- BASE STYLES --
   * Most of these are inherited from Base, but I want to change a few.
   */

body {
    /* line-height: 1.7em; */
    color: white;
    background: #111;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
    font-family: 'Montserrat', Times, "Times New Roman", serif;
    letter-spacing: 0.1em;
    text-align: center;
}

a:visited {
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

input {
    background: transparent;
    border: 0;
    border-bottom: 3px solid white;
    font-size: 1.1em;
    font-weight: bold;
    height: 30px;
    line-height: 2.188em;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &:focus {
        outline: none;
    }
}

button:focus {
    outline: none;
}


/***************************************
   ************   HEADER   ***************
   **************************************/


/****************
   *     Logo
   *****************/

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}


/****************
   * Weapon Selector
   *****************/

.weaponSelector {
    padding: 1em 0 0.5em;
}

.mortar_selector,
.french_mortar_selector {
    display: inline-block;
    height: 30px;
    width: 70px;
}

.mortar_selector:hover,
.french_mortar_selector:hover {
    transform: scale(0.95);
}

.mortar_selector_classic {
    background: url("../img/icons/classic_mortar.png") no-repeat scroll 6px 0 transparent;
}

.mortar_selector_technical {
    background: url("../img/icons/technical_mortar.png") no-repeat scroll 6px 0 transparent;
}

.mortar_selector_hell {
    background: url("../img/icons/hell_mortar.png") no-repeat scroll 6px 0 transparent;
}

.mortar_selector_french {
    background: url("../img/icons/french_mortar.png") no-repeat scroll 6px 0 transparent;
}

.french_mortar_selector_short {
    background: url("../img/icons/short.png") no-repeat scroll 6px 0 transparent;
}

.french_mortar_selector_medium {
    background: url("../img/icons/medium.png") no-repeat scroll 6px 0 transparent;
}

.french_mortar_selector_long {
    background: url("../img/icons/long.png") no-repeat scroll 6px 0 transparent;
}

.switch-field {
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    z-index: 5;
    input {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
    }
    label {
        background-color: #464444;
        transition: all 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
        }
        &:first-of-type {
            border-radius: 5px 0 0 5px;
        }
        &:last-of-type {
            border-radius: 0 5px 5px 0;
        }
    }
    input:checked+label {
        background-color: #ffffff;
        box-shadow: none;
    }
}

.switch-field2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    z-index: 5;
    input {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
    }
    label {
        background-color: #464444;
        transition: all 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
        }
        &:first-of-type {
            border-radius: 5px 5px 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 5px 5px;
        }
    }
    input:checked+label {
        background-color: #ffffff;
        box-shadow: none;
    }
}


/****************
   *  Map Selector
   *****************/

.mapSelector {
    padding: 1em 0 0.5em;
}

.selectbox {
    padding: 0;
}

.dropbtn {
    background: #111 !important;
    color: #ffffff;
    font-weight: bold;
    line-height: 2.188em;
    text-transform: uppercase;
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        background-image: none;
        border: none;
        box-shadow: none;
    }
}

.select2-search {
    background: white !important;
    color: rgb(161, 142, 142) !important;
    font-size: 1em !important;
}

.select2-selection {
    background: #111 !important;
    border: none !important;
    color: white !important;
    font-size: 1em;
}

.dropbtn:focus {
    outline: none;
}

.select2-container {
    background-color: #111;
    border-bottom: 1px solid white !important;
    border: 0;
    box-shadow: none !important;
    color: #ffffff !important;
    font-size: 1em;
    font-weight: bold;
    line-height: 2.188em;
    min-width: 200px;
    padding-bottom: 0.3em;
    text-transform: uppercase;
}

.select2-results__options {
    max-height: 350px !important;
    line-height: 1.4em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: firebrick;
}

.select2-search__field {
    color: #111 !important;
    font-size: 1em !important;
    height: 1.4em;
    text-transform: none !important;
}

.select2-selection__rendered {
    color: #ffffff !important;
}

.select2-results__message {
    padding-top: 20px !important;
}


/* Avoid the creation of an outline when pressing enter to select a map */

span.select2-selection.select2-selection--single {
    outline: none;
}

.show {
    display: block;
}


/***************************************
   ************   CONTENT   ***************
   **************************************/


/****************
   *    Results
   *****************/

.results {
    border-radius: 5px;
    border: 5px solid white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.7em auto;
    padding: 1em;
    position: relative;
}

.save {
    i {
        font-size: 0.5em;
        position: relative;
    }
    background-color: transparent;
    border: none;
    bottom: 0;
    padding: 0 5px;
    position: absolute;
    right: 0;
    &:focus {
        outline: none;
    }
}

.copy:hover {
    cursor: pointer;
}

.coord {
    padding: 0.625em 0;
    img {
        height: 30px;
        width: 30px;
    }
}


/********************
   * Canvas / Heightmaps
   *********************/

#heatmap {
    display: none;
    padding: 0;
}

#canvas {
    height: 500px;
    margin: auto;
    width: 500px;
}


/****************
   *   Saved calcs
   *****************/

.saved {
    font-size: 0.6em;
    i {
        cursor: pointer;
    }
}

.saved_list p {
    margin: 0em;
}

.fa:hover,
#savespan:hover {
    cursor: pointer;
}

.friendlyname {
    width: 100px;
    border-style: none;
    text-transform: none;
    font-size: 1em;
    text-align: right;
    min-width: 100px;
    height: auto;
}


/***************************************
   ************   MISC   ***************
**************************************/


/* Fix to avoid https://purecss.io/grids/#applying-padding-and-borders-to-grid-units */

.pure-g>div {
    box-sizing: border-box;
}

.unselectable {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}


/****************
   *  Error Message
*****************/

.errorMsg {
    cursor: default;
    font-size: 0.7em;
    padding: 18px;
}

.error {
    border: 5px solid FireBrick;
    color: FireBrick;
}

.error2 {
    color: FireBrick;
}


/**************************************
*  Tippy.js ToolTips customization
***************************************/

.tippy-box {
    &[data-theme~='new'] {
        &[data-placement^='top']>.tippy-arrow::before {
            border-top-color: green;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: green;
        }
        &[data-placement^='left']>.tippy-arrow::before {
            border-left-color: green;
        }
        &[data-placement^='right']>.tippy-arrow::before {
            border-right-color: green;
        }
        background-color: green;
        color: white;
        font-weight: bold;
        letter-spacing: .1rem;
    }
    &[data-theme~="french"] .tippy-content {
        padding: 0;
    }
    &[data-theme~="120mm"] .tippy-content {
        text-align: center;
        line-height: 1em;
    }
    &[data-theme~='fab'] {
        &[data-placement^='top']>.tippy-arrow::before {
            border-top-color: firebrick;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: firebrick;
        }
        &[data-placement^='left']>.tippy-arrow::before {
            border-left-color: firebrick;
        }
        &[data-placement^='right']>.tippy-arrow::before {
            border-right-color: firebrick;
        }
        background-color: firebrick;
    }
}


/**************************************
*  FAB
***************************************/

* {
    box-sizing: border-box;
}

.fab-wrapper {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
}

.fab-checkbox {
    display: none;
}

.fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #333;
    transition: all 0.3s ease;
    z-index: 1;
    border: 1px solid rgb(37, 37, 37);
    font-size: 2.5em;
    border-radius: 50%;
}

.fab-dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;
}

.fab-dots-1 {
    left: 15px;
    animation-delay: 0s;
}

.fab-dots-2 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.4s;
}

.fab-dots-3 {
    right: 15px;
    animation-delay: 0.8s;
}

.fab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.fab-checkbox:checked~.fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
}

.fab:hover {
    background: rgb(24, 24, 24);
    cursor: pointer;
}

.fab-checkbox:checked~.fab .fab-dots {
    height: 6px;
}

.fab .fab-dots-2 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked~.fab .fab-dots-1 {
    width: 32px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.fab-checkbox:checked~.fab .fab-dots-3 {
    width: 32px;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
    50% {
        opacity: 0.25;
    }
}

.fab-checkbox:checked~.fab .fab-dots {
    animation: none;
}

.fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
}

.fab-checkbox:checked~.fab-wheel {
    transform: scale(1);
}

.fab-action {
    position: absolute;
    background: #2c2c2e;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    opacity: 0;
    text-decoration: none;
}

.fab-action-2:active {
    transform: scale(0.8);
}

.fab-checkbox:checked~.fab-wheel .fab-action {
    opacity: 1;
}

.fab-action:hover {
    background-color: FireBrick;
    cursor: pointer;
    transform: scale(1.1);
}

.fabstyle {
    background-color: FireBrick;
}

.fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 9rem;
    height: 9rem;
    transition: all 0.1s ease;
    transform-origin: bottom right;
    transform: scale(0);
}

.fab-wheel .fab-action-1 {
    right: -1rem;
    top: 0;
}

.fab-wheel .fab-action-2 {
    right: 2.8rem;
    top: 0.5rem;
}

.fab-wheel .fab-action-3 {
    left: 0.5rem;
    bottom: 2.8rem;
}

.fab-wheel .fab-action-4 {
    left: 0;
    bottom: -1rem;
}