
@import 'variables';

/*
   * -- BASE STYLES --
   * Most of these are inherited from Base, but I want to change a few.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body,
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
    color: $mainTxtColor;
    font-family: $mainFont, Times, "Times New Roman", serif;
    letter-spacing: 0.1em;
    text-align: center;
}

body {
    background-color: var(--themecolor, $mainBGColor);
    overflow: hidden;
}

a:visited {
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

input {
    background: transparent;
    border: 0;
    border-bottom: 3px solid $mainTxtColor;
    font-size: 1.1em;
    font-weight: bold;
    height: 30px;
    line-height: 2.188em;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    &:focus {
        outline: none;
    }
    &::selection {
        background-color: $mainColor;
    }
}

button:focus {
    outline: none;
}


/***************************************
   ************   HEADER   ***************
   **************************************/


/****************
   * Weapon Selector
   *****************/

header {
    .weaponSelector {
        padding-top: 1em;
        z-index: 5;
        .select2-results__options {
            font-weight: 600;
            line-height: 1.4em;
        }
        .select2-results__group {
            color: rgba(255, 255, 255, .7);
            padding-top: 10px;
            font-weight: 900;
            text-align: left;
            padding-left: 15px;
            font-size: 1em;
        }
        &.ui {
            position: fixed;
            top: 0;
        }
    }
    .mapSelector {
        padding: 1em 0;
        z-index: 4;
        &.ui {
            position: fixed;
            top: 3em;
        }
    }
    .selectbox {
        padding: 0;
    }
    .dropbtn,
    .dropbtn2 {
        color: #fff;
        font-weight: bold;
        line-height: 2.188em;
        text-transform: uppercase;
        background-color: var(--themecolor, $mainBGColor);
        z-index: 1;
        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            background-image: none;
            border: none;
            box-shadow: none;
        }
        &:focus {
            outline: none;
        }
    }
    .select2 {
        background-color: transparent;
    }
    .select2-container {
        background-color: transparent;
        border-bottom: 1px solid $mainTxtColor;
        font-weight: bold;
        line-height: 2.188em;
        min-width: 200px;
        padding-bottom: 0.3em;
        text-transform: uppercase;

        @extend %text-outline;
    }
    .select2-container--default {
        .select2-results__option--highlighted[aria-selected] {
            background-color: $mainColor;
        }
        .select2-results__option--selected {
            background-color: $mainColor;
            opacity: 0.5;
        }
        .select2-selection--single .select2-selection__rendered {
            color: #fff;
        }
        .select2-selection--single {
            background-color: transparent;
            border: none;
            color: $mainTxtColor;
        }
    }
    span.select2-selection.select2-selection--single {
        outline: none;
    }
}



/***************************************
   ************   CONTENT   ***************
   **************************************/            


/****************
   *    Results
   *****************/



#map_ui {
    position: relative;
    height: 100vh; 
    width: 100vw; 
    margin: 0;
    #map {
        height: 100%;
        width: 100%;
        background: var(--themecolor, $mainBGColor);
        z-index: 0;
        .leaflet-pane .leaflet-marker-pane .leaflet-marker-icon {
            cursor: grab;
        }
        img.leaflet-tile {
            mix-blend-mode: plus-lighter;
        }
        .kpPopup {
            background: transparent;
            pointer-events: none;
            .leaflet-popup-tip,
            .leaflet-popup-content-wrapper {
                user-select: none; 
                font-family: $mainFont, Times, "Times New Roman", serif;
                font-weight: bold;
                font-size: 1.2em;
                background: transparent;
                box-shadow: none;
                color:$mainTxtColor;
                height: 2em;
                padding: 0;
                text-align: center;
        
                @extend %text-outline;
            }
            .leaflet-popup-tip {
                display: none;
            }
            &.leaflet-popup {
                transition: none;
            }
        }
        .calcPopup, .calcPopup2 {
            margin: 0;
            padding: 0;
            font-family: $mainFont, Times, "Times New Roman", serif;
            background: transparent;
            border: none;
            box-shadow: none;
            pointer-events: none;
            font-weight: bold;
            font-size: 0.9em;
            color: $mainTxtColor;
            height: 40px;
            line-height: 1em;

            @extend %text-outline;
            .calcNumber {
                font-size: 0.7em;
            }
            .bearingUiCalc {
                font-size: 0.8em;
            }
            .leaflet-popup-tip,
            .leaflet-popup-content-wrapper {
                font-weight: bold;
                font-size: 0.9em;
                background: transparent;
                box-shadow: none;
                color: $mainTxtColor;
                height: 2em;
                padding: 0;
        
                @extend %text-outline;
        
            }
            .leaflet-popup-content{
                margin: 0;
                line-height: 1;
            }
            .leaflet-popup-tip-container {
                display: none;
            } 
            &.calcPopup {
                .leaflet-popup-content-wrapper {
                    text-align: right;
                }
            }
            &.calcPopup2 {
                .leaflet-popup-content-wrapper {
                    text-align: left;
                }
            }
        }
        .animatedWeaponMarker{
            opacity: 0; 
            animation: weapon-appear 0.25s ease-in-out forwards 0s;
        }
        .animatedTargetMarker {
            opacity: 0; 
            animation: target-appear 0.25s ease-in-out forwards 0s;
        }
    }
}

#mapLayerMenu{
    position: absolute;
    right: 2%;
    top: 30%;
    transform: translateY(-50%);
    width: 46px;
    z-index: 3;
    .btn {
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 10px;
        font-size: 1em;
        background-color: white;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        color: $mainBGColor;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover{
            background-color: grey;
        }
        &.active {
            background-color: $mainColor;
            color: $mainTxtColor;
            .fa-mound{
                background: white;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
        .fa-mound {
            font-size: 1.5em;
            background: -webkit-gradient(linear, left top, left bottom,
             from(rgb(255, 0, 0)),
             color-stop(0.4, #8b0000),
             color-stop(0.5, #000),
             color-stop(0.7, #0031b8),
             to(#04f));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

        }

    }

}



#actionMenu {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,-50%);
    .btn {
        width: 40px;
        height: 40px;
        line-height: 10px;
        font-size: 1em;
        background-color: white;
        color: $mainBGColor;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover{
            background-color: $mainColor;
            color: $mainTxtColor;
        }

    }
    .active {
        background-color: $mainColor;
        color: $mainTxtColor;
    }
}

#preview {
    outline: solid firebrick 3px;
    width: 150px;
    height: 150px;
    margin-top: 5em;
    margin-left: 7em;
    background-image: url("../../public/maps/chora/minimap/4_6_7.webp");
    background-size: contain;
    #center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        #markerPreview {
            position: absolute;
            width: 30px;
        }
        #gridPreview {
            position: absolute;
            opacity: 1;
            width: 150px;
        }
        #maxRangePreview {
            position: absolute;
            width: 147px;
            margin-right: 3px;
            margin-top: 3px;
        }
    }
    #textPreview{
        margin-top: 45px;
        margin-left: 25px;
        position: absolute;
        font-weight: bold;

        @extend %text-outline;
        #bearingPreview {
            font-size: 0.7em;
            text-align: right;
        }
    }
}


#classic_ui {
    height: 40vh;
    #settings {
        border-radius: 5px;
        border: 5px solid $mainTxtColor;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0.7em auto;
        padding: 1em;
        position: relative;
        i {
            font-size: 50%;
            margin: -10px; // ugly hack
        }
        #highlow {
            background-color: transparent;
            .active {
                cursor: pointer;
                &:active {
                    transform: scale(0.7);
                }
                &:hover {
                    color: $mainColor;
                }
            }
        }
        #savebutton {
            background-color: transparent;
            border: none;
            bottom: 0;
            color: $mainTxtColor;
            padding: 0 5px;
            position: absolute;
            right: 0;
            transition: all 0.1s ease-out;
            i {
                cursor:pointer;
                font-size: 0.5em;
                position: relative;
                margin: 0;
            }
            &:active {
                transform: scale(0.7);
            }
            &:hover {
                color: $mainColor;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .copy {
        &:hover {
            cursor: pointer;
        }
    }
    .coord {
        padding: 0.625em 0;
        img {
            height: 30px;
        }
    }
    .pure-g [class*="pure-u"] .errorMsg {
        cursor: default;
        font-size: 0.7em;
        line-height: 2em;
        color: $mainColor;
    }
    .error2 {
        border-bottom: 3px solid $mainColor;
    }
    #saved {
        font-size: 0.6em;
        .friendlyname {
            border-style: none;
            font-size: 1em;
            height: auto;
            min-width: 20px;
            text-align: right;
            text-transform: none;
            width: 100px;
        }
        .savespan {
            font-weight: bold;
            &:hover {
                cursor: pointer;
            }
        }
        i {
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
                color: $mainColor;
                transform: scale(1.2);
            }
        }
        #ruler {
            white-space: nowrap;
            visibility: hidden;
            font-size: 1em;
            font-weight: bold;
        }
    }
}

#loader {
    @extend .logo;
    background-color: $mainBGColor;
    z-index: 99;
}

#background {
    @extend .logo;
}

.logo {
    @extend .unselectable;
    position: fixed;
    height: 100vh; 
    width: 100vw; 
    display: table;
    font-family: $logoFont;
    font-size: 7em;
    span:first-child {
        display: table-cell;
        vertical-align: middle;
        font-weight: bolder;
        line-height : 1.3em;
        letter-spacing: 0;
        span {
            display: inline-block;
        }
        span:nth-child(1) {
            padding: 0 0 15px 15px;
        }
        span:nth-child(2) {
            background: $mainColor;
            padding: 0 15px 10px;
        }
    }
}

/***************************************
   ************   FOOTER   ***************
   **************************************/

footer {
    .fabs {
        bottom: 1.2rem;
        position: fixed;
        height: 2.5rem;
        width: 2.5rem;
        &.fab-wrapper {
            right: 1rem;
        }
        &.fab-wrapper2 {
            left: 1rem;
        }
        input {
            display: none;
        }
        .fab {
            background: #333;
            border-radius: 50%;
            font-size: 1.1rem;
            height: 2.5rem;
            position: relative;
            margin: auto;
            transition: all 0.3s ease;
            width: 2.5rem;
            z-index: 1;
            &:active {
                transform: scale(0.8);
            }
            &::before {
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 50%;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
            &:hover {
                background: rgb(24, 24, 24);
                cursor: pointer;
            }
            .fab-dots-2 {
                padding-top: 0.7rem;
            }
        }

    }
}


/***************************************
   ************   MISC   ***************
**************************************/

.unselectable {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.hidden {
    opacity: 0 !important;
}


/**************************************
*  Animations
***************************************/

@keyframes blink {
    50% {
        opacity: 0.25;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
        transform: none;
    }
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 0.2s;
}

.animate__animated.animate__shakeX {
    --animate-duration: 0.5s;
}

.animate__animated.animate__headShake {
    --animate-duration: 0.5s;
}


/**************************************
*  Tippy.js ToolTips customization
***************************************/

.tippy-box {
    &[data-theme~='new'] {
        &[data-placement^='top']>.tippy-arrow::before {
            border-top-color: $newColor;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: $newColor;
        }
        &[data-placement^='left']>.tippy-arrow::before {
            border-left-color: $newColor;
        }
        &[data-placement^='right']>.tippy-arrow::before {
            border-right-color: $newColor;
        }
        background-color: $newColor;
        color: $mainTxtColor;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    &[data-theme~="results"] .tippy-content {
        font-size: 1.4em;
        padding: 0.5em;
        line-height: 0.9em;
        font-weight: bold;
    }
    &[data-theme~='fab'] {
        &[data-placement^='top']>.tippy-arrow::before {
            border-top-color: $mainColor;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: $mainColor;
        }
        &[data-placement^='left']>.tippy-arrow::before {
            border-left-color: $mainColor;
        }
        &[data-placement^='right']>.tippy-arrow::before {
            border-right-color: $mainColor;
        }
        background-color: $mainColor;
    }
    &[data-theme~='preview'] {
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: transparent;
        }
        background-color: transparent;
        color: $mainTxtColor;
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin-top: 5px;

        @extend %text-outline;
    }
}

.tippy-arrow {
    transform: scale(1.5);
}

.tooltipsubtext {
    font-size: 0.6em;
    letter-spacing: 0.05rem;
    font-weight: normal;
}

#canvas {
    display: none;
    position: absolute;
    bottom: 0;
    height: 650px;
    width: 650px;
    border: solid red 1px
}

.leader-line {
    z-index: -1;
}

#calcInformation {
    margin: auto;
    background-color: $mainBGColor;
    color: $mainTxtColor;
    text-align: left;
    padding: 30px 0 0 30px;
    border-radius: 10px;
    font-size: 0.7em;
    max-width: 800px;
    overflow: hidden;
    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 2em;
        td {
            height: 2em;
            border-bottom: lightgrey 1px solid;
            &:nth-child(1){
                font-weight: bold;
                text-transform: uppercase;
                font-size: 0.9em;
            }
            &:nth-child(2){
                text-align: right;
            }
        }


    }
    #heightGraph {
        background-color: white;
        margin-left: -30px;
        margin-bottom: -5px;
        width: calc(100% + 30px);
        transform: rotate(180deg) scaleX(-1);
    }
    #closeCalcInformation{
        position: absolute;
        font-size: 1.7em;
        right: 8px;
        top: 8px;
        background-color: transparent;
        transition: all 0.2s ease;
        &:hover {
            cursor: pointer;
            color: $mainColor;
            transform: scale(0.9);
        }
    }
    &::backdrop {
        backdrop-filter: blur(3px) brightness(120%) grayscale(20%) contrast(90%);
    }
}

#helpDialog {
    margin: auto;
    background-color: $mainBGColor;
    color: $mainTxtColor;
    text-align: left;
    padding: 30px 5px 5px 30px;
    border-radius: 10px;
    font-size: 0.7em;
    width: 400px;
    letter-spacing: 1px;
    line-height: 1em;
    #dialogTitle {
        @extend .unselectable;
        margin-left: 20px;
    }
    &::backdrop {
        backdrop-filter: blur(3px) brightness(120%) grayscale(20%) contrast(90%);
    }
    table {
        &.userSettings {
            border: none;
            td {
                padding: 0;
                border: none;
                &:nth-child(1) {
                    padding-left: 0;
                    padding-right: 1em;
                }
            }
            tr {
                height: 1rem;
            }
            .settingsText {
                font-weight: bold;
            }
            .settingsSubtext {
                font-size: 0.8em;
                font-style: italic;
            }
        }
        &#links {
            margin: 2em 0 0.3em auto;
            width: auto;
            font-size: 1.4em;
            border: none;
            td {
                border: none;
                padding: 0 0.5em;
            }
            a, a:visited {
                color: $mainTxtColor;
            }
            a:hover {
                cursor: pointer;
                color: $mainColor;
                i {
                    transition: all 0.2s ease;
                    transform: scale(0.9);
                }
            }
        }
        &#tips {
            th {
                font-size: 1.1em;
                text-align: center;
            }
            tr {
                height: 2.5em;
                font-size: 0.9em;
                border: white 1px solid;
            }            
        }
    }
    #closeModal {
        position: absolute;
        font-size: 1.7em;
        right: 8px;
        top: 8px;
        background-color: transparent;
        transition: all 0.2s ease;
        &:hover {
            cursor: pointer;
            color: $mainColor;
            transform: scale(0.9);
        }
    }
    ul {
        padding-left: 0;
        margin-top: 0;
        
        @extend .unselectable;
        li {
            float: left;
            list-style-type: none;
            width: 30%;
            margin-left: 7%;
            margin-right: 7%;
            font-size: 1.1em;
            button {
                display: inline-block;
                font-weight: bold;
                width: 100%;
                line-height: 3;
                background-color: transparent;
                text-align: center;
                transition: all 0.4s ease;
                cursor: pointer;
                &.active {
                    border-bottom: solid $mainColor 1px;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .panels {
        height: 360px;
        position: relative;
        clear: both;
    }
    article {
        position: absolute;
        top: 15px;
        left: 0;
        height: 100%;
        width: 100%;
        padding-left: 30px;
        padding-top: 10px;
        color: white;
        background-color: $mainBGColor;
    }
    .active-panel {
        z-index: 1;
    }  
}

$bezier: cubic-bezier(0.65, 0.25, 0.56, 0.96);

.mcui-checkbox,
.mcui-radio {
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0.4em 0;
    box-sizing: border-box;
    input[type="checkbox"],
    input[type="radio"] {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    input[type="checkbox"] + span,
    input[type="radio"] + span {
        border: 2px solid $mainColor;
        height: 1.5em;
        width: 1.5em;
        box-sizing: border-box;
        border-radius: 2px;
        position: relative;
        background-color: white;
    }
    input[type="checkbox"]:checked + span {
        border-color: $mainColor;
        transition: border-color 107ms $bezier;
        .mcui-check {
            opacity: 1;
            transition: opacity 107ms $bezier;
            polyline {
            animation: dash-check 107ms $bezier forwards;
            }
        }
    }
    input[type="checkbox"]:disabled + span {
        background-color: $mainColor;
    }
    &:active:not([disabled]) {
        transform: scale(0.9);
    }
}


.mcui-check {
    height: 100%;
    width: 100%;
    transform: scale(1);
    color: $mainColor;
    opacity: 0;
    &:hover:not([disabled]){
        cursor: pointer;
    }
    polyline {
      fill: none;
      transform-origin: 50% 50%;
      stroke-width: 5px;
      stroke-dasharray: 22.7714;
      stroke: currentcolor;
    }
}

#cursorChoiceSettings {
    height: auto;
    width: 250px;
    margin-top: 1em;
    margin-bottom: 1em;
    input {
        height: 15px;
        accent-color: $mainColor;
        &:active:not([disabled]) {
            transform: scale(0.7);
        }
        &:hover:not([disabled]) {
            cursor: pointer;
        }
    }
    label {
        float:right;
        text-align: center;
    }
}
  
@supports (display: grid) {
    .mcui-check {
        polyline {
            stroke-dashoffset: 22.7714;
        }
    }
}
  
@keyframes dash-check {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes target-appear {
    0% {
        top: -600px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes spread-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




@keyframes weapon-appear {
    0% {
        top: -10px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

%text-outline {
    text-shadow: 1px 1px 0 #111,
    -1px 1px 0 #111,
    1px -1px 0 #111,
    -1px -1px 0 #111,
   0 1px 0 #111,
    0 -1px 0 #111,
    -1px 0 0 #111,
    1px 0 0 #111,
    2px 2px 0 #111,
    -2px 2px 0 #111,
    2px -2px 0 #111,
    -2px -2px 0 #111,
    0 2px 0 #111,
    0 -2px 0 #111,
    -2px 0 0 #111,
    2px 0 0 #111,
    1px 2px 0 #111,
    -1px 2px 0 #111,
    1px -2px 0 #111,
    -1px -2px 0 #111,
    2px 1px 0 #111,
    -2px 1px 0 #111,
    2px -1px 0 #111,
    -2px -1px 0 #111;
}




.crosshair {
    cursor: crosshair;
}

.default {
    cursor: default;
}