@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*
   * -- BASE COLOR --
*/

$mainColor: firebrick;
$mainBGColor: #111;

/*
   * -- BASE STYLES --
   * Most of these are inherited from Base, but I want to change a few.
*/

body {
    color: white;
    background: $mainBGColor;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
    font-family: Montserrat, Times, "Times New Roman", serif;
    letter-spacing: 0.1em;
    text-align: center;
}

#mortar-location,
#target-location,
.resize {
    color: white;
    caret-color: white;
}

a:visited {
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

input {
    background: transparent;
    border: 0;
    border-bottom: 3px solid white;
    font-size: 1.1em;
    font-weight: bold;
    height: 30px;
    line-height: 2.188em;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &:focus {
        outline: none;
    }
}

button:focus {
    outline: none;
}


/***************************************
   ************   HEADER   ***************
   **************************************/


/****************
   *     Logo
   *****************/

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.logo {
    width: 250px;
}


/****************
   * Weapon Selector
   *****************/

.weaponSelector {
    padding: 1em 0 0.5em;
}

.mortar_selector,
.french_mortar_selector {
    display: inline-block;
    height: 30px;
    width: 70px;
}

.mortar_selector:active,
.french_mortar_selector:active {
    transform: scale(0.8);
}

.mortar_selector_classic {
    background: url("../img/icons/classic_mortar.png") no-repeat scroll 6px 0 transparent;
}

.mortar_selector_technical {
    background: url("../img/icons/technical_mortar.png") no-repeat scroll 6px 0 transparent;
}

.mortar_selector_hell {
    background: url("../img/icons/hell_mortar.png") no-repeat scroll 6px 0 transparent;
}

.mortar_selector_mlrs {
    background: url("../img/icons/mlrs.png") no-repeat scroll 6px 0 transparent;
}

.mortar_selector_french {
    background: url("../img/icons/french_mortar.png") no-repeat scroll 6px 0 transparent;
}

.french_mortar_selector_short {
    background: url("../img/icons/short.png") no-repeat scroll 6px 0 transparent;
}

.french_mortar_selector_medium {
    background: url("../img/icons/medium.png") no-repeat scroll 6px 0 transparent;
}

.french_mortar_selector_long {
    background: url("../img/icons/long.png") no-repeat scroll 6px 0 transparent;
}

.switch-field {
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    z-index: 5;
    input {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
    }
    label {
        background-color: #464444;
        transition: all 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
        }
        &:first-of-type {
            border-radius: 5px 0 0 5px;
        }
        &:last-of-type {
            border-radius: 0 5px 5px 0;
        }
    }
    input:checked+label {
        background-color: #fff;
        box-shadow: none;
    }
}

.switch-field2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    z-index: 5;
    input {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
    }
    label {
        background-color: #464444;
        transition: all 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
        }
        &:first-of-type {
            border-radius: 5px 5px 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 5px 5px;
        }
    }
    input:checked+label {
        background-color: #fff;
        box-shadow: none;
    }
}


/****************
   *  Map Selector
   *****************/

.mapSelector {
    padding: 1em 0 0.5em;
}

.selectbox {
    padding: 0;
}

.dropbtn {
    background: $mainBGColor !important;
    color: #fff;
    font-weight: bold;
    line-height: 2.188em;
    text-transform: uppercase;
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        background-image: none;
        border: none;
        box-shadow: none;
    }
}

.select2-search {
    background: white !important;
    color: rgb(161, 142, 142) !important;
    font-size: 1em !important;
}

.select2-selection {
    background: $mainBGColor !important;
    border: none !important;
    color: white !important;
    font-size: 1em;
}

.dropbtn:focus {
    outline: none;
}

.select2-container {
    background-color: $mainBGColor;
    border-bottom: 1px solid white !important;
    border: 0;
    box-shadow: none !important;
    color: #fff !important;
    font-size: 1em;
    font-weight: bold;
    line-height: 2.188em;
    min-width: 200px;
    padding-bottom: 0.3em;
    text-transform: uppercase;
}

.select2-results__options {
    max-height: 350px !important;
    line-height: 1.4em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $mainColor;
}

.select2-search__field {
    color: $mainBGColor !important;
    font-size: 1em !important;
    height: 1.4em;
    text-transform: none !important;
}

.select2-selection__rendered {
    color: #fff !important;
}

.select2-results__message {
    padding-top: 20px !important;
}


/* Avoid the creation of an outline when pressing enter to select a map */

span.select2-selection.select2-selection--single {
    outline: none;
}

.show {
    display: block;
}


/***************************************
   ************   CONTENT   ***************
   **************************************/


/****************
   *    Results
   *****************/

.results {
    border-radius: 5px;
    border: 5px solid white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.7em auto;
    padding: 1em;
    position: relative;
}

.save {
    i {
        font-size: 0.5em;
        position: relative;
    }
    background-color: transparent;
    border: none;
    bottom: 0;
    color:white;
    padding: 0 5px;
    position: absolute;
    right: 0;
    transition: all 0.1s ease-out;
    &:active {
        transform: scale(0.7);
    }
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.copy {
    transition: all 0.1s ease-out;
    &:active {
        transform: scale(0.95);
    }
    &:hover {
        cursor: pointer;
    }
}

.coord {
    padding: 0.625em 0;
    img {
        height: 30px;
        width: 30px;
    }
}


/************************
   * Canvas / Heightmaps
   *********************/

#canvas {
    display: none;
    height: 350px;
    width: 350px;
}

.resultIcons {
    font-size: 50%;
}


/****************
   *   Saved calcs
   *****************/

.saved {
    font-size: 0.6em;
    i {
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            color: $mainColor;
            transform: scale(1.1);
        }
    }
}

.saved_list p {
    margin: 0;
}

#savespan:hover {
    cursor: pointer;
}

.friendlyname {
    border-style: none;
    font-size: 1em;
    height: auto;
    min-width: 100px;
    text-align: right;
    text-transform: none;
    width: 100px;
}


/***************************************
   ************   MISC   ***************
**************************************/


/* Fix to avoid https://purecss.io/grids/#applying-padding-and-borders-to-grid-units */

.pure-g>div {
    box-sizing: border-box;
}

.unselectable {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}


/****************
*  Error Message
*****************/

.errorMsg {
    cursor: default;
    font-size: 0.7em;
    padding: 18px;
}

.error {
    border: 5px solid $mainColor;
    color: $mainColor;
}

.error2 {
    border-bottom: 3px solid $mainColor;
}


/**************************************
*  Tippy.js ToolTips customization
***************************************/

.tippy-box {
    &[data-theme~='new'] {
        &[data-placement^='top']>.tippy-arrow::before {
            border-top-color: green;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: green;
        }
        &[data-placement^='left']>.tippy-arrow::before {
            border-left-color: green;
        }
        &[data-placement^='right']>.tippy-arrow::before {
            border-right-color: green;
        }
        background-color: green;
        color: white;
        font-weight: bold;
        letter-spacing: .1rem;
    }
    &[data-theme~="french"] .tippy-content {
        padding: 0;
    }
    &[data-theme~="120mm"] .tippy-content {
        text-align: center;
        line-height: 1em;
    }
    &[data-theme~='fab'] {
        &[data-placement^='top']>.tippy-arrow::before {
            border-top-color: $mainColor;
        }
        &[data-placement^='bottom']>.tippy-arrow::before {
            border-bottom-color: $mainColor;
        }
        &[data-placement^='left']>.tippy-arrow::before {
            border-left-color: $mainColor;
        }
        &[data-placement^='right']>.tippy-arrow::before {
            border-right-color: $mainColor;
        }
        background-color: $mainColor;
    }
}


/**************************************
*  FAB
***************************************/

* {
    box-sizing: border-box;
}

.fab-wrapper {
    bottom: 2rem;
    display: none;
    position: fixed;
    right: 2rem;
}

.fab {
    background: #333;
    border-radius: 50%;
    border: 1px solid rgb(37, 37, 37);
    bottom: -1rem;
    font-size: 2.5em;
    height: 4rem;
    position: absolute;
    right: -1rem;
    transition: all 0.3s ease;
    width: 4rem;
    z-index: 1;
    &:active {
        transform: scale(0.8);
    }
    &::before {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    &:hover {
        background: rgb(24, 24, 24);
        cursor: pointer;
    }
}

.fab-dots {
    animation: blink 3s ease infinite;
    background-color: white;
    border-radius: 50%;
    height: 8px;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    transition: all 0.3s ease;
    width: 8px;
    &.fab-dots-1 {
        animation-delay: 0s;
        left: 15px;
    }
    &.fab-dots-2 {
        animation-delay: 0.4s;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &.fab-dots-3 {
        animation-delay: 0.8s;
        right: 15px;
    }
}

.fab-checkbox {
    display: none;
    &:checked {
        &~.fab {
            &::before {
                background-color: rgba(255, 255, 255, .2);
                height: 90%;
                left: 5%;
                top: 5%;
                width: 90%;
            }
            .fab-dots {
                height: 6px;
                animation: none;
            }
            .fab-dots-2 {
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
            }
            .fab-dots-1 {
                border-radius: 10px;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
                width: 32px;
            }
            .fab-dots-3 {
                border-radius: 10px;
                right: 50%;
                transform: translateX(50%) translateY(-50%) rotate(-45deg);
                width: 32px;
            }
        }
        &~.fab-wheel {
            transform: scale(1);
            .fab-action {
                opacity: 1;
            }
        }
    }
}

@keyframes blink {
    50% {
        opacity: 0.25;
    }
}

.fab-action {
    align-items: center;
    background: #333;
    border-radius: 50%;
    color: white;
    display: flex;
    height: 3rem;
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-decoration: none;
    transition: all 0.1s ease;
    width: 3rem;
    &:hover {
        background-color: $mainColor;
        cursor: pointer;
    }
    &:active {
        transform: scale(0.9);
    }
}

.fabstyle {
    background-color: $mainColor;
}

.fab-wheel {
    bottom: 0;
    height: 9rem;
    position: absolute;
    right: 0;
    transform-origin: bottom right;
    transform: scale(0);
    transition: all 0.1s ease;
    width: 9rem;
    .fab-action-1 {
        right: -1rem;
        top: 0;
    }
    .fab-action-2 {
        right: 2.8rem;
        top: 0.5rem;
    }
    .fab-action-3 {
        bottom: 2.8rem;
        left: 0.5rem;
    }
    .fab-action-4 {
        bottom: -1rem;
        left: 0;
    }
}