/* **************** */

$classicBG: #111;
$blueBG: #00003a;
$greenBG: #031a00;
$blackBG: #000;
$redBG: #3f0000;

/* **************** */

[data-theme='classic'] {
    background-color: $classicBG;
    .dropbtn,
    .dropbtn2 {
        background-color: $classicBG;
    }
}

[data-theme='dark'] {
    background-color: $blackBG;
    .dropbtn,
    .dropbtn2 {
        background-color: $blackBG;
    }
}

[data-theme='blue'] {
    background-color: $blueBG;
    .dropbtn,
    .dropbtn2 {
        background-color: $blueBG;
    }
}

[data-theme='green'] {
    background-color: $greenBG;
    .dropbtn,
    .dropbtn2 {
        background-color: $greenBG;
    }
}

[data-theme='red'] {
    background-color: $redBG;
    .dropbtn,
    .dropbtn2 {
        background-color: $redBG;
    }
}