// Colors
$mainColor: #b22222;
$mainBGColor: #111;
$mainTxtColor: #fff;
$newColor: green;


@font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../img/fontawesome/webfonts/montserrat-v26-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../img/fontawesome/webfonts/oswald-v53-latin-700.woff2') format('woff2');
}


// Fonts
$mainFont: montserrat;
$logoFont: oswald;


// Fontawesome
$fa-font-path: '../img/fontawesome/webfonts';

@import '../img/fontawesome/scss/fontawesome';
@import '../img/fontawesome/scss/solid';
@import '../img/fontawesome/scss/brands';