// Colors
$mainColor: #b22222;
$mainBGColor: #111;
$mainTxtColor: #fff;
$newColor: green;
// Fonts
$mainFont: montserrat;
$logoFont: oswald;
// Fontawesome
$fa-font-path: '../fonts/webfonts';

@import '../fonts/scss/fontawesome';
@import '../fonts/scss/solid';
@import '../fonts/scss/brands';


@font-face {
    font-display: swap; 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/webfonts/montserrat-v26-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap;
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/webfonts/oswald-v53-latin-700.woff2') format('woff2');
}