<footer class="pure-u-1 pure-u-md-1 pure-u-lg-1">

    <div class="fabs fab-wrapper2">
        <input id="fabCheckbox2" type="checkbox" class="fab-checkbox2">
        <label class="fab" for="fabCheckbox2">
                <i id="switchUIbutton" class="fab-dots-2 fa-solid fa-map"></i>
        </label>
    </div>

    <div class="fabs fab-wrapper">
        <input id="fabCheckbox" type="checkbox" class="fab-checkbox2">
        <label class="fab" for="fabCheckbox">
            <i class="fab-dots-2 fa-solid fa-cog"></i>
        </label>
    </div>

</footer>

<section id="toast" class="info">

    <div id="icon-wrapper">
        <div id="icon"></div>
    </div>

    <div id="toast-message">
        <h4 data-i18n="tooltips:focusMode">Focus Mode</h4>
        <p data-i18n="tooltips:enterToExit">Press 'ENTER' to exit</p>
    </div>

    <button id="toast-close" aria-label="Close Toast Message"></button>

    <div id="timer"></div>

</section>