<div id="map_ui" class="pure-g hidden">

    <div id="map">
        <div id="background" class="pure-g">
            <span id="backgroundLogo">
                <span data-i18n="common:squad"></span>
                <span data-i18n="common:calc"></span>
            </span>
        </div>
    </div>  


    <div id="mapLayerMenu" oncontextmenu="return false;">

        <button type="button" class="btn btn-basemap layers hidable" value="basemap" aria-label="Switch to base map">
            <i class="fa-solid fa-map"></i>
        </button>
        <button type="button" class="btn btn-terrainmap layers hidable" value="terrainmap" aria-label="Switch to terrain map">
            <i class="fa-solid fa-mountain-sun"></i>
        </button>
        <button type="button" class="btn btn-topomap layers hidable" value="topomap" aria-label="Switch to topographic map">
            <i class="fa-solid fa-mound"></i>
        </button>

        <div class="mapLayerMenuSeparator">
            <button type="button" class="btn btn-helpmap others hidable" value="helpmap" aria-label="See where players usually place weapons">
                <i class="fa-solid fa-magnifying-glass-location"></i>
            </button>
            <button type="button" class="btn btn-focus others" aria-label="fullscreen">
                <i class="fa-solid fa-expand"></i>
            </button>
            <button type="button" class="btn btn-delete others hidable animate__animated animate__fadeInDown" aria-label="delete all targets">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>

    </div>

</div>