@use "../shared/variables";

#map_ui {
    position: relative;
    height: 100vh; 
    width: 100vw; 
    #map {
        height: 100%;
        width: 100%;
        background: var(--themecolor, variables.$mainBGColor);
        z-index: 0;
        .leaflet-interactive {
            cursor: inherit;
        }
        .leaflet-pane .leaflet-marker-pane .leaflet-marker-icon {
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
        }
        .objText {
            @include variables.light-text-outline;
            font-size: 1em;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
            letter-spacing: normal;
        }
        .leaflet-pane .leaflet-marker-pane .flag {
            @include variables.light-text-outline;
            background-color: rgba(255, 255, 255, 0.5);
            //pointer-events: none;
            font-size: 1.1em;
            letter-spacing: normal;
            $flag-opacity: 0.4;
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.75);
            cursor: inherit;
            &:active {
                cursor: inherit;
            }
            &.flag2 {
                background-color: rgba(0, 200, 200, $flag-opacity);
                outline: solid green 1px;
            }
            &.flag3 {
                background-color: rgba(9, 9, 255, $flag-opacity);
                outline: solid rgb(0, 0, 255) 1px;
            }
            &.flag4 {
                background-color: rgba(255, 0, 255, $flag-opacity);
                outline: solid purple 1px;
            }
            &.flag5 {
                background-color: rgba(255, 192, 203, $flag-opacity);
                outline: solid pink 1px;
            }
            &.flag6 {
                background-color: rgba(3, 48, 2, $flag-opacity);
            }
            &.flag7 {
                background-color: rgba(214, 105, 22, $flag-opacity);
            }
            &.flag8 {
                background-color: rgba(0, 0, 0, $flag-opacity);
            }
            &.main {
                background-color: rgb(197, 0, 0);
                outline-color: rgb(143, 0, 0);
                font-size: 1.1em;
                overflow: hidden;

                &::before {
                    content: "🏠";
                    //font-size: 2em;
                    position: relative;
                    top: -0.2em;
                    right: 0em;
                    font-size: 1.6em;
                }
            }
            
            &.selected, &.next, &.main {
                cursor: pointer;
                pointer-events: all;
                box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.7);
                //outline: solid 2px rgba(0, 0, 0, 0.8); // Hover outline default for both
                &:hover {
                    outline: solid 2px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 8px 12px rgba(0, 0, 0, 1);
                }

            }
            &.selected {
                font-size: 1.1em;
                background-color: rgba(0, 128, 0, 1);
                overflow: hidden;
                &.main {
                    //font-size: 0.9em;
                    //position: relative; // Needed for absolute positioning of the icon
                    &::before {
                        content: "🏠";
                        //font-size: 2em;
                        position: relative;
                        top: 0.2em;
                        right: 0em;
                        font-size: 1.6em;
                    }
                }
                
                &::before {
                    content: "✔";
                    color: rgb(255, 255, 255);
                    position: relative;
                    font-size: 2em;
                    //border:solid red 1px;
                    top: 0.2em;
                    right: 0.2em;
                    line-height: 0%;
                }
            }
            &.next {
                background-color: rgb(197, 0, 0);
                outline-color: rgb(143, 0, 0);; // Initial outline color
            }

            
        }
        .kpPopup, .posPopUpTarget, .posPopUpWeapon {
            background: transparent;
            pointer-events: none;
            .leaflet-popup-tip,
            .leaflet-popup-content-wrapper {
                @include variables.text-outline;
                @extend .unselectable;
                font-family: variables.$mainFont, Times, "Times New Roman", serif;
                font-size: 1.2em;
                background: transparent;
                box-shadow: none;
                color: variables.$mainTxtColor;
                height: 2em;
                padding: 0;
                text-align: center;
                pointer-events: none;
            }
            &.leaflet-popup {
                transition: none;
            }
        }
        .calcPopup, .calcPopup2 {
            @include variables.text-outline;
            @extend .unselectable;
            margin: 0;
            padding: 0;
            font-family: variables.$mainFont, Times, "Times New Roman", serif;
            pointer-events: none;
            font-size: 0.9em;
            height: 45px;
            .bearingUiCalc {
                font-size: 0.7em;
            }
            .leaflet-popup-tip,
            .leaflet-popup-content-wrapper {
                background: transparent;
                box-shadow: none;
                color: variables.$mainTxtColor;
            }
            .leaflet-popup-content{
                margin: 0;
                line-height: 1;
            }
            &.calcPopup {
                .leaflet-popup-content-wrapper {
                    text-align: right;
                }
            }
            &.calcPopup2 {
                .leaflet-popup-content-wrapper {
                    text-align: left;
                }
            }
        }
        .animatedWeaponMarker{
            animation: weapon-appear 0.25s ease-in-out forwards 0s;
        }
        .animatedTargetMarker {
            animation: target-appear 0.25s ease-in-out forwards 0s;
        }
        .gridText {
            @include variables.text-outline;
            font-size: 1.1em;
        }
     

    }
}


#mapLayerMenu{
    position: absolute;
    right: 2%;
    top: 40%;
    transform: translateY(-50%);
    width: 54px;
    z-index: 3;
    height: 340px;
    overflow-y: auto;
    .btn {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0;
        color: variables.$mainBGColor;
        border-bottom:#979797 solid 1px;
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover{
            background-color: #979797;
        }
        &.active {
            background-color: variables.$mainColor;
            border-top: variables.$mainColor;
            border-bottom: variables.$mainColor;
            color: variables.$mainTxtColor;
            .fa-mound{
                background: white;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
        .fa-mound {
            font-size: 1.5em;
            background: -webkit-gradient(linear, left top, left bottom,
             from(#d66916),
             color-stop(0.3, #c27942),
             color-stop(0.4, #c7c875),
             color-stop(0.5, #629c61),
             to(#162015));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
    #mapLayerMenuSeparator::before {
        content: "";
        pointer-events: none;
        position: absolute;
        top: -20px;
        left: 50%;
        width: 70%;
        height: 4px;
        transform: translateX(-50%); 
    }
    #mapLayerMenuSeparator {
        margin-top: 30px;
    }
    .fa-stack {
        font-size: 0.7em; 
    }
}

.crosshair {
    cursor: crosshair;
}

.default {
    cursor: default;
}

.logo {
    @extend .unselectable;
    position: fixed;
    height: 100vh; 
    width: 100vw; 
    display: table;
    font-family: variables.$logoFont;
    text-transform: uppercase;
    font-size: 7em;
    letter-spacing: 0;
    span {
        font-weight: bolder;
        line-height : 1.3em;
        display: table-cell;
        vertical-align: middle;
        span {
            display: inline-block;
        }
        span:nth-child(1) {
            padding: 0 0 10px;
        }
        span:nth-child(2) {
            padding: 0 15px 10px;
            background: linear-gradient(to right, variables.$mainColor 50%, variables.$mainBGColor 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            animation: 1s ease-out 0.3s 1 forwards loading;
        }
    }
}

#background {
    @extend .logo;
}

#loader {
    @extend .logo;
    background-color: variables.$mainBGColor;
    z-index: 99;
}

.helipads {
    background: url('../../img/icons/deployable_helipad.webp') no-repeat center center;
    background-size: contain;
    transition: opacity 0.1s ease-in;
}

.repairStations {
    background: url('../../img/icons/deployable_repairstation.webp') no-repeat center center;
    background-size: contain;
    transition: opacity 0.1s ease-in;
}

.ammocrates {
    background: url('../../img/icons/deployable_ammocrate.webp') no-repeat center center;
    background-size: contain;
    transition: opacity 0.1s ease-in;
}