@use '../shared/variables';

:root {
    --font-size-text-preview: 1em;
}



dialog {
    width: calc(100% - 10%);
    text-align: left;
    border-radius: 10px;
    margin: auto;
    background-color: variables.$mainBGColor;
    color: variables.$mainTxtColor;
    font-size: 0.6em;
    max-width: 700px;
    overflow: visible;
    &#factionsDialog {
        max-width: 1600px;
        max-height: 100%;
        width: 100%;
        height: 100%;
        .select2-results__options {
            max-height: 70vh;
            overflow-y: scroll;
        }
    }
    &::backdrop {
        backdrop-filter: blur(3px) brightness(120%) grayscale(20%) contrast(90%);
    }
    h2, h3 {
        padding: 1.25em;
    }
    .closeModal {
        position: absolute;
        font-size: 1.7em;
        right: 8px;
        top: 8px;
        background-color: transparent;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            fill: white;
        }
        &:hover {
            color: variables.$mainColor;
            transform: rotate(135deg);
            svg {
                fill: variables.$mainColor;
            }
        }
    }
    #lngSelector {
        position: absolute;
        right: 50px;
        top: 8px;
        font-weight: bold;
    }
    .dropbtn4, .dropbtn6, .dropbtn7 {
        color: #fff;
        font-weight: bold;
        line-height: 1.5em;
        text-transform: uppercase;
        text-align: center;
        background-color: var(--themecolor, variables.$mainBGColor);
        z-index: 1;
        width: max-content;
        min-width: max-content;
        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            background-image: none;
            border: none;
            box-shadow: none;
        }
        &:focus {
            outline: none;
        }
        .select2 {
            background-color: transparent;
        }
        .select2-container {
            @include variables.text-outline;
            background-color: transparent;
            border-bottom: 1px solid variables.$mainTxtColor;
            line-height: 2.188em;
            padding-bottom: 0.3em;
            text-transform: uppercase;
        }
    }
    .select2-container--default {
        .select2-results__option--highlighted[aria-selected] {
            background-color: variables.$mainColor;
        }
        .select2-results__option--selected {
            background-color: variables.$mainColor;
            opacity: 0.5;
        }
        .select2-selection--single .select2-selection__rendered {
            text-transform: uppercase;
            color: #fff;
        }
        .select2-selection--single {
            background-color: transparent;
            border: none;
            color: variables.$mainTxtColor;
        }
    }
    span.select2-selection.select2-selection--single {
        outline: none;
    }
    table {
        float: left;
        border-collapse: collapse;
        margin: 0 0 2em 2em;
        width: 90%;        
    }
    &#calcInformation {
        overflow:hidden;
    }
    &#weaponInformation {
        max-width: 350px;
        #angleChoiceSettings {
            input {
                height: 15px;
                accent-color: variables.$mainColor;
                &:active:not([disabled]) {
                    transform: scale(0.7);
                }
                &:hover:not([disabled]) {
                    cursor: pointer;
                }
            }
            label {
                float:right;
                text-align: center;
            }
        }
        .heightPadding {
            input{
                width: 50px;
                text-align: center;
                font-size: 1em;
                border: 1px solid #ddd;
                border-radius: 4px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        td {
            cursor: default;
            width: auto;
        }
        .weaponIcon {
            height: 70px;
            margin-bottom: 2em;
        }
    }
    &#helpDialog {
        width: 94%;
        height: 500px;
        max-width: 600px;
        font-size: 0.6em;
        h3 {
            font-size: 1.3em;
        }
        #fontSize {
            width: 100%;
            height: auto;
            display: inline-block;
            .fontSizeSettings {
                width: auto;
                margin: 0 0 0 3em;
                td {           
                    &:nth-child(1) {
                        width: auto;
                        padding-right: 1em;
                    }
                }
            }
        }
        #panel2 {
            table {
                font-size: 0.95em;
            }
        }
        table {
            border: none;
            margin: 0 0 1.5em 3em;
            &.shortcuts {
                padding-top: 4em;
                td {           
                    &:nth-child(1) {
                        padding: 10px 20px 10px 0;
                    }
                }
            }
            &.userSettings {
                td {
                    padding: 0;
                    border: none;
                    &:nth-child(1) {
                        width: 30px;
                    }
                }
            }
            .toggleCheckbox {
                @extend .unselectable;
                cursor: pointer;
                &:hover {
                    transition: text-shadow 0.3s ease, color 0.3s ease;
                    text-shadow: 0 0 4px #ffffff75;
                }
            }
            caption {
                margin: 0 0 10px;
                color: variables.$mainTxtColor;
                font-style: normal;
                font-weight: bold;
                font-size: 1.3em;
                text-align: left;
                font-family: variables.$mainFont, Times, "Times New Roman", serif;
            }
            &#links {
                bottom: 0;
                right: 0;
                position: absolute;
                width: auto;
                font-size: 1.6em;
                float: right;
                margin: 0 0.5em 0.5em 0;
                td {
                    border: none;
                    padding: 0 0.4em;
                }
                a {
                    margin: 0;
                }
                svg {
                    height: 1.1em;
                    width: 1.1em;
                    fill: variables.$mainTxtColor;
                    &:hover {
                        cursor: pointer;
                        transition: all 0.2s ease;
                        transform: scale(0.9);
                        fill: variables.$mainColor;
                    }
                }
            }
        }
    }
}

#calcInformation, #weaponInformation {
    .sim {
        display: none;
        &.active {
            display: block;
        }
    }
    table {
        .noborder {
            border: none;
        }
        td {
            height: 2em;
            border-bottom: lightgrey 1px solid;
            &:nth-child(1){
                font-weight: bold;
                text-transform: uppercase;
            }
            &:nth-child(2){
                font-weight: lighter;
                text-align: right;
            }
            &.info {
                cursor: help;
            }
        }
    }
    .heightGraph {
        background-color: white;
        max-width: 100%;
        margin-bottom: -5px;
        transform: rotate(180deg) scaleX(-1);
    }
}

.new {
    @extend .unselectable;
    color: red;
    text-transform: uppercase;
    letter-spacing: 0;
}

#canvasControls {
    margin: 0 auto 1em;
    text-align: center;
    width: 100%;
    display: none;
    button {
        height: 20px;
        color: variables.$mainBGColor;
        width: 45%;
        cursor: pointer;
        &.active {
            background-color: variables.$mainColor;
            color: white;
        }
    }
}

$bezier: cubic-bezier(0.65, 0.25, 0.56, 0.96);

.mcui-checkbox,
.mcui-radio {
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0.313em 0;
    box-sizing: border-box;
    input[type="checkbox"],
    input[type="radio"] {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    input[type="checkbox"] + span,
    input[type="radio"] + span {
        border: 2px solid variables.$mainColor;
        height: 1.5em;
        width: 1.5em;
        box-sizing: border-box;
        border-radius: 2px;
        position: relative;
        background-color: white;
    }
    input[type="checkbox"]:checked + span {
        border-color: variables.$mainColor;
        transition: border-color 107ms $bezier;
        .mcui-check {
            opacity: 1;
            transition: opacity 107ms $bezier;
            polyline {
            animation: dash-check 107ms $bezier forwards;
            }
        }
    }
    input[type="checkbox"]:disabled + span {
        background-color: grey;
        border: none;
        pointer-events: none;
        .mcui-check {
            color: #111;
        }
    }
    input[type="checkbox"]:not(:disabled) + span:active {
        transform: scale(0.9);
    }
}

.mcui-check {
    height: 100%;
    width: 100%;
    transform: scale(1);
    color: variables.$mainColor;
    opacity: 0;
    &:hover:not([disabled]){
        cursor: pointer;
    }
    polyline {
      fill: none;
      transform-origin: 50% 50%;
      stroke-width: 5px;
      stroke-dasharray: 22.7714;
      stroke: currentcolor;
    }
}
  
@supports (display: grid) {
    .mcui-check {
        polyline {
            stroke-dashoffset: 22.7714;
        }
    }
}


#settingsControls {
    margin: 0 0 1.3em;
    text-align: center;
    width: 100%;
    button {
        color: variables.$mainBGColor;
        width: 29%;
        margin-bottom: 1em;
        vertical-align: middle;
        height: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease, width 0.3s ease;
        span {
            vertical-align: middle;
            display: inline-flex;
        }
        &:hover {
            background-color: grey;
        }
        &.active {
            background-color: variables.$mainColor;
            color: variables.$mainTxtColor;
            padding-bottom: 0;
            height: 25px;
            svg {
                display: inline-block;
                fill: variables.$mainTxtColor;
            }
        }
        svg {
            height: 1.5em;
            width: 1.5em;
            display: none;
            fill: variables.$mainBGColor;
            &#flagsvg{
                height: 1.2em;
                width: 1.2em;
            }
        }
    }
}


.keyHolder {
    color: variables.$mainBGColor;
    padding: 6px 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
    align-content: center;
    background-color: #f5f5f5;
    border: 1px solid white;
    outline: 3px solid #ccc;
    border-radius: 4px;
    user-select: none;
    width: 100px;
    margin: 20px auto;
    display: grid;
    &.enter-key {
        height: 60px;
        width: 50px;
    }
    &.delete-key {
        letter-spacing: 0;
        padding: 0;
        font-size: 11px;
        width: 40px;
        height: 40px;
    }
    svg {
        width: 1em;
        height: 1em;
        margin: auto;
    }
}

.panel {
    display: none;
    &.active {
        display: block;
    }
}

#previewHolder {
    display: inline;
    top: 0;
    #preview {
        outline: solid variables.$mainColor 3px;
        margin: 1em auto 0;
        float: none;
        width: 120px;
        height: 120px;
        #center {
            width: 100%;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            #mapPreview {
                width: 120px;
                height: 120px;
            }
            #markerPreview {
                position: absolute;
                width: 30px;
            }
            #gridPreview {
                position: absolute;
                width: 120px;
                height: 120px;
            }
            #maxRangePreview {
                position: absolute;
                width: 120px;
                margin-right: 3px;
                margin-top: 3px;
            }
            #targetGridPreview {
                position: absolute;
                width: 120px;
                margin-right: 3px;
                margin-top: 3px;
            }
            #damagePreview {
                position: absolute;
                margin-top: 16px;
                width: 90px;
            }
            #spreadPreview {
                position: absolute;
                width: 80px;
            }
        }
        #textPreview{
            @include variables.text-outline;
            margin-top: 40px;
            margin-left: 75px;
            position: absolute;
            z-index: 1;
            font-size: var(--font-size-text-preview);
            .bearingPreview {
                font-size: 0.6em;
                text-align: right;
                float: right;
                &:nth-child(3) {
                    margin-top: 2px;
                }
            }
        }
    
    }
}
