@use '../shared/variables';

dialog {
    width: calc(100% - 10%);
    text-align: left;
    border-radius: 10px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    color: variables.$mainTxtColor;
    font-size: 0.6em;
    max-width: 700px;
    overflow: visible;
    &#factionsDialog {
        max-width: 1600px;
        max-height: 100%;
        width: 100%;
        height: 100%;
        .select2-results__options {
            max-height: 70vh;
            overflow-y: scroll;
        }
    }
    &::backdrop {
        backdrop-filter: none;
    }
    h2, h3 {
        padding: 1.25em;
    }
    .closeModal {
        position: absolute;
        font-size: 1.7em;
        right: 8px;
        top: 8px;
        background-color: transparent;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            fill: white;
        }
        &:hover {
            color: variables.$mainColor;
            transform: rotate(135deg);
            svg {
                fill: variables.$mainColor;
            }
        }
    }
    .select2-container--default {
        .select2-results__option--highlighted[aria-selected] {
            background-color: variables.$mainColor;
        }
        .select2-results__option--selected {
            background-color: variables.$mainColor;
            opacity: 0.5;
        }
        .select2-selection--single .select2-selection__rendered {
            text-transform: uppercase;
            color: #fff;
        }
        .select2-selection--single {
            background-color: transparent;
            border: none;
            color: variables.$mainTxtColor;
        }
    }
    span.select2-selection.select2-selection--single {
        outline: none;
    }
    table {
        float: left;
        border-collapse: collapse;
        margin: 0 0 2em 2em;
        width: 90%;        
    }
    &#calcInformation {
        overflow:hidden;
    }
    &#weaponInformation {
        max-width: 350px;
        #angleChoiceSettings {
            input {
                height: 15px;
                accent-color: variables.$mainColor;
                &:active:not([disabled]) {
                    transform: scale(0.7);
                }
                &:hover:not([disabled]) {
                    cursor: pointer;
                }
            }
            label {
                float:right;
                text-align: center;
            }
        }
        .heightPadding {
            input{
                width: 50px;
                text-align: center;
                font-size: 1em;
                border: 1px solid #ddd;
                border-radius: 4px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        td {
            cursor: default;
            width: auto;
        }
        .weaponIcon {
            height: 70px;
            margin-bottom: 2em;
        }
    }

}

#calcInformation, #weaponInformation {
    .sim {
        display: none;
        &.active {
            display: block;
        }
    }
    table {
        .noborder {
            border: none;
        }
        td {
            height: 2em;
            border-bottom: lightgrey 1px solid;
            &:nth-child(1){
                font-weight: bold;
                text-transform: uppercase;
            }
            &:nth-child(2){
                font-weight: lighter;
                text-align: right;
            }
            &.info {
                cursor: help;
            }
        }
    }
    .heightGraph {
        background-color: white;
        max-width: 100%;
        margin-bottom: -5px;
        transform: rotate(180deg) scaleX(-1);
    }
}

#canvasControls {
    margin: 0 auto 1em;
    text-align: center;
    width: 100%;
    display: none;
    button {
        height: 20px;
        color: variables.$mainBGColor;
        width: 45%;
        cursor: pointer;
        &.active {
            background-color: variables.$mainColor;
            color: white;
        }
    }
}