<dialog id="factionsDialog" class="animate__animated animate__slideInLeft animate__faster">
    <form method="dialog">
        <button class="closeModal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
        </button>
    </form>

    <h2 data-i18n="tooltips:factions&Vehicles"></h2>
    
    <div id="factionMenu">
        <div id="team1">
            <h2 data-i18n="common:team1"></h2>
            <div class="selectors">
                <div id="faction1" class="factionSelector">
                    <select class="dropbtn8 unselectable" tabindex="-1"></select>
                </div>
                <div id="unit1" class="unitSelector">
                    <select class="dropbtn9 unselectable" tabindex="-1"></select>
                </div>
            </div>
        </div>
        <div id="team2">
            <h2 data-i18n="common:team2"></h2>
            <div class="selectors">
                <div id="faction2" class="factionSelector">
                    <select class="dropbtn10 unselectable" tabindex="-1"></select>
                </div>
                <div id="unit2" class="unitSelector">
                    <select class="dropbtn11 unselectable" tabindex="-1"></select>
                </div>
            </div>
        </div>
    </div>

    <div id="pinButtons">
        <button type="button" id="team1PinButton" class="btn btn-pin" aria-label="pin" data-i18n="common:pinToMap"></button>
        <button type="button" id="team2PinButton" class="btn btn-pin" aria-label="pin" data-i18n="common:pinToMap"></button>
    </div>


    <div id="commanderAssets">
        <div id="team1CommanderAsset" class="commanderAssets"></div>
        <div id="team2CommanderAsset" class="commanderAssets"></div>
    </div>

    <div id="factionVehicles">
        <div id="team1Vehicles" class="teamVehicles"></div>
        <div id="team2Vehicles" class="teamVehicles"></div>
    </div>

</dialog>