<dialog id="factionsDialog" class="animate__animated animate__slideInUp animate__faster">
    <form method="dialog">
        <button class="closeModal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
        </button>
    </form>

    <div id="factionTop">
    <img class="team-bg" id="teamBg1" alt="" />
    <img class="team-bg" id="teamBg2" alt="" />
    <span class="factionMenu-vs" data-i18n="common:vs">vs</span>
    <div id="factionMenu">
        <div id="team1" class="team-picker">
            <h2><span id="team1FactionName" class="team-faction-name"></span></h2>
            <div class="team-selectors">
                <div class="picker-btn faction-picker-btn" id="factionBtn1"></div>
                <div class="picker-btn unit-picker-btn" id="unitBtn1"></div>
                <button type="button" id="team1PinButton" class="btn-pin" aria-label="Pin to map" title="Pin to map" data-i18n-aria-label="common:pinToMap" data-i18n-title="common:pinToMap">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M32 32C32 14.3 46.3 0 64 0L320 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-29.5 0 11.4 148.2c36.7 19.9 65.7 53.2 79.5 94.7l1 3c3.3 9.8 1.6 20.5-4.4 28.8s-15.7 13.3-26 13.3L32 352c-10.3 0-19.9-4.9-26-13.3s-7.7-19.1-4.4-28.8l1-3c13.8-41.5 42.8-74.8 79.5-94.7L93.5 64 64 64C46.3 64 32 49.7 32 32zM160 384l64 0 0 96c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-96z"/></svg>
                </button>
            </div>
            <div id="faction1" class="hidden-selector">
                <select class="dropbtn8 unselectable" tabindex="-1"></select>
            </div>
            <div id="unit1" class="hidden-selector">
                <select class="dropbtn9 unselectable" tabindex="-1"></select>
            </div>
        </div>
        <div id="team2" class="team-picker">
            <h2><span id="team2FactionName" class="team-faction-name"></span></h2>
            <div class="team-selectors">
                <div class="picker-btn faction-picker-btn" id="factionBtn2"></div>
                <div class="picker-btn unit-picker-btn" id="unitBtn2"></div>
                <button type="button" id="team2PinButton" class="btn-pin" aria-label="Pin to map" title="Pin to map" data-i18n-aria-label="common:pinToMap" data-i18n-title="common:pinToMap">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M32 32C32 14.3 46.3 0 64 0L320 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-29.5 0 11.4 148.2c36.7 19.9 65.7 53.2 79.5 94.7l1 3c3.3 9.8 1.6 20.5-4.4 28.8s-15.7 13.3-26 13.3L32 352c-10.3 0-19.9-4.9-26-13.3s-7.7-19.1-4.4-28.8l1-3c13.8-41.5 42.8-74.8 79.5-94.7L93.5 64 64 64C46.3 64 32 49.7 32 32zM160 384l64 0 0 96c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-96z"/></svg>
                </button>
            </div>
            <div id="faction2" class="hidden-selector">
                <select class="dropbtn10 unselectable" tabindex="-1"></select>
            </div>
            <div id="unit2" class="hidden-selector">
                <select class="dropbtn11 unselectable" tabindex="-1"></select>
            </div>
        </div>
    </div>


    <div id="factionInfo">
        <div class="teamInfo">
            <div id="team1CommanderAsset" class="commanderAssets"></div>
            <div id="team1Characteristics" class="characteristics"></div>
        </div>
        <div class="teamInfo">
            <div id="team2CommanderAsset" class="commanderAssets"></div>
            <div id="team2Characteristics" class="characteristics"></div>
        </div>
    </div>

    </div><!-- #factionTop -->

    <div id="factionVehicles">
        <div id="team1Vehicles" class="teamVehicles"></div>
        <div id="team2Vehicles" class="teamVehicles"></div>
    </div>


</dialog>
