<dialog id="helpDialog" class="animate__animated animate__zoomIn">

    <form method="dialog">
        <button class="closeModal">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
    </form>

    <div id="lngSelector" class="dropdown">
        <select id="lngDropbtn" class="dropbtn4 unselectable" tabindex="-1">
        </select>
    </div>

    <h2 data-i18n="settings:SettingsTitle">Settings</h2>

    <table class="userSettings">
        <caption data-i18n="settings:mapOptions"></caption>
        <tbody>
            <tr>
                <td>
                    <label class="mcui-checkbox">
                        <input id="gridSetting" type="checkbox">
                        <span>
                            <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                              <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                            </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:showGrid" class="toggleCheckbox"></span></td>
            </tr>

            <tr id="keypadUnderCursorSettingRow">
                <td >
                    <label class="mcui-checkbox" >
                        <input id="keypadUnderCursorSetting" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td> 
                    <span data-i18n="settings:showKeypad" class="toggleCheckbox"></span>
                    <br>
                    <span id="KPSettingSubText" class="settingsSubtext">
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="mcui-checkbox">
                        <input id="weaponRangeSettings" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:showMaxRange" class="toggleCheckbox"></span></td>
            </tr>

            <tr class="cursorChoiceSettings">
                <td>
                    <label class="mcui-checkbox">
                        <input id="cursorChoiceSettings" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:useClassicCursor" class="toggleCheckbox"></span></td>
            </tr>

            <tr class="mapAnimationSettings">
                <td>
                    <label class="mcui-checkbox">
                        <input id="mapAnimationSettings" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:mapAnimationSettings" class="toggleCheckbox"></span></td>
            </tr>

            <tr class="experimentalSetting">
              <td>
                  <label class="mcui-checkbox">
                      <input id="experimentalSetting" type="checkbox">
                      <span>
                        <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                          <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                        </svg>
                      </span>
                    </label>
              </td>
              <td><span data-i18n="settings:experimentalWeapons" class="toggleCheckbox"></span></td>
          </tr>

          <tr class="highQualitySetting">
            <td>
                <label class="mcui-checkbox">
                    <input id="highQualitySetting" type="checkbox">
                    <span>
                      <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                      </svg>
                    </span>
                  </label>
            </td>
            <td><span data-i18n="settings:highquality" class="toggleCheckbox"></span></td>
        </tr>

        </tbody>
    </table>


    <table class="userSettings">
        <caption data-i18n="settings:targetOptions"></caption>
        <tbody>
            <tr>
                <td>
                    <label class="mcui-checkbox">
                        <input id="spreadRadiusSetting" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:showSpread" class="toggleCheckbox"></span></td>
            </tr>

            <tr class="damageRadiusSetting">
                <td>
                    <label class="mcui-checkbox">
                        <input id="damageRadiusSetting" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                    </label>
                </td>
                <td><span data-i18n="settings:showDamage" class="toggleCheckbox"></span></td>
            </tr>

            <tr class="targetAnimationSettings">
                <td>
                    <label class="mcui-checkbox">
                        <input id="targetAnimationSettings" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:showAnimations" class="toggleCheckbox"></span></td>
            </tr>

            <tr>
                <td>
                    <label class="mcui-checkbox">
                        <input id="bearingSetting" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:showBearing" class="toggleCheckbox"></span></td>
            </tr>

            <tr>
                <td>
                    <label class="mcui-checkbox">
                        <input id="distanceSetting" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:showDistance" class="toggleCheckbox"></span></td>
            </tr>

            <tr>
                <td>
                    <label class="mcui-checkbox">
                        <input id="timeOfFlightSetting" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:showTimeOfFlight" class="toggleCheckbox"></span></td>
            </tr>

            <tr>
                <td>
                    <label class="mcui-checkbox">
                        <input id="heightSetting" type="checkbox">
                        <span>
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                        </span>
                      </label>
                </td>
                <td><span data-i18n="settings:showHeightDiff" class="toggleCheckbox"></span></td>
            </tr>

        </tbody>
    </table>

    <h3 data-i18n="settings:preview">Preview</h3>

    <div id="preview" class="unselectable">
        <div id="textPreview">
            <span>1345</span><br>
            <span class="bearingPreview">241.5°</span>
        </div>
        <div id="center">
            <img id="damagePreview" loading="lazy" src="../../img/icons/damage.png" alt="damagePreview" draggable="false">
            <img id="spreadPreview" loading="lazy" src="../../img/icons/spread.png" alt="spreadPreview" draggable="false">
            <img id="gridPreview" loading="lazy" src="../../img/icons/grid.png" alt="gridPreview" draggable="false">
            <img id="markerPreview" loading="lazy" src="../../img/icons/marker_target_enabled.webp" alt="markerPreview" draggable="false">
            <img id="maxRangePreview" loading="lazy" src="../../img/icons/maxrange.png" alt="maxRangePreview" draggable="false">
        </div>
    </div>

    <table id="links">
        <tbody>
            <tr>
                <td>
                    <a class="fab-action" href="https://github.com/sh4rkman/SquadCalc/blob/master/CHANGELOG.md" target="_blank" rel="noopener noreferrer" aria-label="changelog" data-i18n-title="settings:changelog">
                       <i class="fa-solid fa-book-open"></i>
                    </a>
                </td>
                <td>
                    <a class="fab-action" href="https://github.com/sh4rkman/SquadCalc" target="_blank" rel="noopener noreferrer" aria-label="github"  data-i18n-title="settings:github">
                       <i class="fa-brands fa-github"></i>
                    </a>
                </td>
                <td> 
                    <a class="fab-action" href="https://github.com/sh4rkman/SquadCalc/issues" target="_blank" rel="noopener noreferrer" aria-label="Bugs" data-i18n-title="settings:bug">
                        <i class="fa-solid fa-bug"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</dialog>