<dialog id="threeDView" class="animate__animated animate__zoomIn">
    <form method="dialog">
        <button class="closeModal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
        </button>
    </form>

    <div class="threeDViewport">
        <div class="threeDLoading" hidden>
            <p data-i18n="common:threeDLoading">Loading map&hellip;</p>
        </div>
        <div class="threeDOverlay">
            <div class="threeDOverlayCard">
                <h3 data-i18n="common:threeDView">3D View</h3>
                <div class="threeDOverlayHint">
                    <span class="threeDOverlayHintKey"><kbd>W</kbd><kbd>A</kbd><kbd>S</kbd><kbd>D</kbd></span>
                    <span data-i18n="common:threeDMoveHint">move</span>

                    <span class="threeDOverlayHintKey"><kbd>Space</kbd></span>
                    <span data-i18n="common:threeDUpHint">up</span>

                    <span class="threeDOverlayHintKey"><kbd>Shift</kbd></span>
                    <span data-i18n="common:threeDDownHint">down</span>

                    <span class="threeDOverlayHintKey"><kbd>Scroll</kbd></span>
                    <span data-i18n="common:threeDSpeedHint">speed</span>

                    <span class="threeDOverlayHintKey"><kbd>Esc</kbd></span>
                    <span data-i18n="common:threeDReleaseHint">release</span>
                </div>

                <hr class="threeDOverlayDivider">

                <div class="threeDOverlayOptions">
                    <label class="threeDOverlayOption">
                        <span data-i18n="common:threeDShowCapzones">Show Capzones</span>
                        <input type="checkbox" class="threeDCapzonesToggle" checked>
                    </label>
                    <label class="threeDOverlayOption">
                        <span data-i18n="common:threeDShowMinimap">Show Minimap</span>
                        <input type="checkbox" class="threeDMinimapToggle" checked>
                    </label>
                    <label class="threeDOverlayOption">
                        <span data-i18n="common:threeDShowPath">Show Path</span>
                        <input type="checkbox" class="threeDPathToggle" checked>
                    </label>
                    <label class="threeDOverlayOption">
                        <span data-i18n="common:threeDResolution">Resolution</span>
                        <select class="threeDResolutionSelect">
                            <option value="512">512</option>
                            <option value="1024">1024</option>
                            <option value="2048" selected>2048</option>
                        </select>
                    </label>
                    <label class="threeDOverlayOption">
                        <span data-i18n="common:threeDTexture">Texture</span>
                        <select class="threeDTextureSelect">
                            <option value="basemap" data-i18n="common:threeDBasemap" selected>Basemap</option>
                            <option value="topomap" data-i18n="common:threeDTopomap">Topomap</option>
                        </select>
                    </label>
                </div>

                <button type="button" class="threeDGoButton" data-i18n="common:threeDGo">Go</button>
            </div>
        </div>
        <div class="threeDSpeedHUD">
            <div class="threeDSpeedHUDLabel" data-i18n="common:threeDSpeed">Camera Speed</div>
            <div class="threeDSpeedHUDRow">
                <div class="threeDSpeedHUDBar"><div class="threeDSpeedHUDFill"></div></div>
                <div class="threeDSpeedHUDValue">50%</div>
            </div>
        </div>
        <div class="threeDMinimap">
            <img class="threeDMinimapImage" alt="">
            <img class="threeDMinimapDot" alt="">
        </div>
    </div>
</dialog>
