name: Deploy Beta
permissions:
  contents: read
on:
  push:
    branches: [ dev ]
  
jobs:
  build:
    name: ssh/pull/build
    runs-on: ubuntu-latest
    steps:
    - name: Pull code & Build
      uses: appleboy/ssh-action@v1.2.4
      with:
        host: ${{ secrets.HOST }}
        port: ${{ secrets.PORT }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
            eval `ssh-agent -s`
            ssh-add ~/.ssh/${{ secrets.SSH_PUBLIC_KEY_NAME }}
            # Enable maintenance mode
            touch ${{ secrets.DEV_DIST }}/maintenance.enable
            # Deploy
            cd ${{ secrets.DEV_DIST }}
            git pull origin dev
            npm ci
            npm run build
            # Disable maintenance mode
            rm ${{ secrets.DEV_DIST }}/maintenance.enable

    - name: Discord notification
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_BETA }}
        DISCORD_USERNAME: "Github Monitoring"
        DISCORD_AVATAR: "https://i.imgur.com/lPRYnJx.png"
      uses: Ilshidur/action-discord@master
      with:
        args: |
          **${{ github.repository }}** has been deployed on beta.squadcalc.app
          **Commit**: ${{ github.event.head_commit.message }}